﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<Representante>

<div class="col s6 m3 l2">
    <a class="a-link cssaddparam" href="@(Url.Action("ExportarPDF"))?codEmpresa=@(ViewBag.CodEmpresa)&searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>
<div class="col s6 m3 l2">
    <a class="a-link cssaddparam" href="@(Url.Action("ExportarExcel"))?codEmpresa=@(ViewBag.CodEmpresa)&searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>
<div class="col s6 m6 l8 right-align text-right">
    <ul class="pagination no-margin">
        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("Index",
                                                    new { page = page, searchString = ViewBag.FiltrosActuales , codEmpresa = ViewBag.CodEmpresa }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid-rep", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>
<div class="section p-t-20 no-pad-top">
    <div class="col s12 table-listas">
        <div class="table-common ">
            <div class="row row-title hide-on-small-only no-pad-bot">
                @*<div class="col s12 m1 center">Cód.Empresa</div>*@
                <div class="col s12 m1 center">Código</div>
                <div class="col s12 m1">Nombre</div>
                <div class="col s12 m2">Correo</div>
                <div class="col s12 m1">Teléfono</div>
                <div class="col s11 m1">Estado</div>
                <div class="col s12 m1">Registrado Por</div>
                <div class="col s12 m1">Fecha Registro</div>
                <div class="col s12 m1">Actualizado Por</div>
                <div class="col s12 m1">Fecha Actualización</div>
                <div class="col s12 m2">
                    <div class="row row-icons">
                        <div class="col s4">Ver</div>
                        <div class="col s4">Editar</div>
                        <div class="col s4">Eliminar</div>
                    </div>
                </div>
            </div>
            @foreach (Representante item in Model.Lista)
            {
            <div class="row">
                <div class="col s1 m1 no-padding center">
                    @item.CodRepresentante
                </div>
                <div class="col s1 m1 text-wrap">@Html.DisplayFor(modelItem => item.Nombres) </div>
                <div class="col s1 m2 text-wrap">@Html.DisplayFor(modelItem => item.Email) </div>
                <div class="col s1 m1 text-wrap">@Html.DisplayFor(modelItem => item.Telefono) </div>
                <div class="col s3 m1">
                    @switch (item.Estado)
                    {
                        case 1:
                            <span class="new badge options badge-green badge-label " data-badge-caption="ACTIVO"></span>
                            break;
                       default:
                            <span class="new badge badge-grey badge-label options" data-badge-caption="INACTIVO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                            break;
                    }
                </div>
                <div class="col s1 m1  hide-on-small-only text-wrap">
                    @Html.DisplayFor(modelItem => item.UsuCreacion)
                </div>
                <div class="col s1 m1  hide-on-small-only">
                    <label>@item.FecCreacion.Value.ToString("dd/MM/yyyy hh:mm:ss")</label>
                </div>

                <div class="col s2 m1  hide-on-small-only text-wrap">
                    <label>@(item.UsuActualizacion == null ? "" : item.UsuActualizacion)</label>
                </div>
                <div class="col s2 m1  hide-on-small-only">
                    <label>@((item.FecActualizacion == null) ? "" : item.FecActualizacion.Value.ToString("dd/MM/yyyy hh:mm:ss"))</label>
                </div>
                <div class="col s3 m2">
                    <div class="row row-icons">
                        <div class="col s4 m4"><i id="btnVerRep" data-target="pop-n1_representante_Ver" data-id="@item.CodRepresentante" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">visibility</i></div>
                        <div class="col s4 m4"><i id="btnEditarRep" data-target="pop-n1_representante" data-id="@item.CodRepresentante" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">create</i></div>
                        @if (item.Estado == 1) {
                        <div class="col s4 m4"><i id="btnEliminarRep" data-id="@item.CodRepresentante" data-keyboard="false" data-backdrop="static" class="material-icons" style="cursor: pointer;" name="action">delete</i></div>
                        }
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>