﻿@using Agrobanco.SIGD.Presentacion.Models
@model Representante
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="title">Ver Representante</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>
<div class="modal-content modal-content-tabs">
    <div class="row">
        <div class="col s12 tab-content">
            <div class="no-mar-top row card-panel card-common card-lightblue">
                <div class="row">
                    <div class="col s4 right-align">
                        <b><label class="label css-titulo">Código:</label></b>
                    </div>
                    <div class="col s8 left-align">
                        <b>@Model.CodRepresentante</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Nombres:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Nombres
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Dirección:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Direccion
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Correo:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Email
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Teléfono:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Telefono
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Fax:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Fax
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Celular:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Celular
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Estado:</label>
                    </div>
                    <div class="col s8 left-align">
                        @foreach (var item in ViewBag.Estados)
                        {
                            if (item.Valor == Convert.ToString(Model.Estado))
                            {
                                @item.Campo
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Registrado por:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.UsuCreacion
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Fecha Registro:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.FecCreacion.Value.ToString("dd/MM/yyyy hh:mm:ss")
                    </div>
                </div>

                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Fecha Actualización:</label>
                    </div>
                    <div class="col s8 left-align">
                        @((Model.FecActualizacion == null) ? "" : Model.FecActualizacion.Value.ToString("dd/MM/yyyy hh:mm:ss"))

                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Actualizado por:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.UsuActualizacion
                    </div>
                </div>

                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Tipo de Representante</label>
                    </div>
                    <div class="col s8 left-align">
                        @foreach (var item in ViewBag.TipoRepresentante)
                        {
                            if (item.Valor == Convert.ToString(Model.TipRepresentante))
                            {
                                @item.Campo
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Tipo de Documento</label>
                    </div>
                    <div class="col s8 left-align">
                        @foreach (var item in ViewBag.TipDocIdentidad)
                        {
                            if (item.iCodTipDocIdentidad == Model.CodTipDocIdentidad)
                            {
                                @item.Descripcion
                            }
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Nro Documento:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.NumDocumento
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
