﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;
@model MantenimientoRepresentanteListadoViewModel
@{
    /**/

    ViewBag.Title = "Representante";
    Layout = null;
}

@section css{
    <style>
    </style>
}
<div class="section p-t-20 no-pad-top">
    <!--<div class="col s9 m9 l12">-->
    <div class="row">
        @using (Ajax.BeginForm("Index", "Representante",
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, UpdateTargetId = "documentos-grid-rep", LoadingElementId = "modal_loading_agro" }
        , new { id = "frmBusqRep" }))
        {
            <div class="col s12 m8 l8">
                <div class="input-field input-field-search ">
                    <input id="searchString" name="searchString" type="search" class="validate" autocomplete="off" placeholder="Escribe una consulta o utiliza una palabra clave">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons clearicon">clear</i>
                </div>
            </div>
            <div class="col s2 m2 l2 text-right">
                <button class="btn waves-effect waves-light btn-default-resize">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
            <input type="hidden" name="codEmpresa" value="@(Model.CodEmpresa)" />
        }
        <label for="icon_prefix"></label>
        <div class="col s2 m2 l2 text-right">
            <button id="btnNuevoRep" data-target="pop-n1_representante" data-keyboard="false" data-backdrop="static" class="btn modal-trigger waves-effect waves-light btn-default-resize" type="submit" name="action">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
</div>
<div class="row" id="documentos-grid-rep">
    @{
        Html.RenderPartial("_Lista", Model.ResultadoBusqueda);
    }
</div>

<div id="pop-n2" class="modal" data-keyboard="false" data-backdrop="static">
</div>

<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/Mantenimientos/ManRepresentantes.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")