﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/bundles/jquery")
    <script>

        
        function ObtieneArgumentosParaFirmaDesdeLaWeb() {
            
            $.ajax({
                url: "http://localhost:59481/DocumentoExternal/GetArgumentosFirma",
                //async: false,
                //dataType: "json",
                contentType: 'application/json; charset=utf-8',
                type: "GET",
                success: function (result) {
                    debugger;
                    console.log(result);
                },                
                //cache: false,                
                error: function (e, b, c) {
                    debugger;
                    console.log(e.responseText);
                },
                complete: function () {                    
                },
                
            });
            //document.getElementById("argumentos").value = data;
        };
        ObtieneArgumentosParaFirmaDesdeLaWeb();
    </script>
</head>

<body>
    <div>
        <h3>Hola intruso!</h3>
    </div>
    
</body>
</html>
