﻿@using Agrobanco.SIGD.Presentacion.Models
@model Empresa
@{

    Layout = "../../../../Views/Shared/_Layout.cshtml";
}
@*<div class="modal-header">
        <h4 class="title">Registrar Empresa</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>*@

<div class="formReg">
    <div class="section no-padding">
        <div class="row     col s12 no-mar-bot">
            <nav class="nav-common nav-short">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!" class="breadcrumb">INICIO</a>
                        <a href="#!" class="breadcrumb"><span >MANTENIMIENTO</span></a>
                        <a href="#!" class="breadcrumb"><span >EMPRESAS</span></a>
                        <a href="#!" class="breadcrumb"><span>EDITAR</span></a>
                    </div>
                </div>
            </nav>
            <div class="section no-mar-bot colorPlomo">
                <div class="col s12 m12 l12 colorPlomo">
                    <h1 class="title">EDITAR EMPRESA</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section p-t-20 no-pad-top">

        <div class="modal-content modal-content-tabs">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" href="#Detalle">Detalle de Empresa</a></li>
                    <li class="tab col s6"><a href="#Representantes">Representantes</a></li>
                </ul>
            </div>

            <div id="Detalle" class="col s12 tab-content">
                <div class="modal-content content-input">
                    @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmRegistro" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="section-border-bottom">
                            <div class="row">
                                <div class="input-field input-field-common col s12 m3 disabled">
                                    <label class="label active" for="correlativo">Código : </label>
                                    <input name="CodEmpresa" id="Codigo" type="text" class="input-common" value=@Model.CodEmpresa>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field input-field-common col s5">
                                <label class="label active" for="asunto">Abreviatura</label>
                                <input name="Abreviatura" id="txtAbreviatura" value="@Model.Abreviatura" autocomplete="off" type="text" required maxlength="20">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field input-field-common col s12">
                                <label class="label active" for="asunto">Descripción</label>
                                <input name="Descripcion" id="txtDescripcion" value="@Model.Descripcion" autocomplete="off" type="text" required maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field input-field-common col s12">
                                <label class="label active" for="Direccion">Dirección</label>
                                <input name="Direccion" id="txtDireccion" value="@Model.Direccion" autocomplete="off" type="text" required maxlength="100">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field input-field-common col s12 m6 l6 xl3">
                                <label for="Fecha" class="label active">Fecha :</label>
                                <i class="material-icons icon-suffix">date_range</i>
                                <input name="FechaCreacion" id="txtFecha" type="text" value="@Model.FechaCreacion.Value.ToString("dd/MM/yyyy")" class="datepicker" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field input-field-common col col s12 m4 ">
                                <select name="Estado" id="cbEstado" class="select-require" required value="@Model.Estado">
                                    <option value="">Seleccione</option>
                                    @foreach (var item in ViewBag.Estados)
                                    {
                                        if (item.Valor == Convert.ToString(Model.Estado))
                                        {

                                            <option value="@item.Valor" selected="selected">@item.Campo</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Valor">@item.Campo</option>
                                        }
                                    }
                                </select>
                                <label class="label" for="Estado">Estado</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 btn-container">
                                <button id="btnGuardar" class="btn waves-effect waves-light btn-default" type="submit">
                                    <span>Guardar</span>
                                    <i class="material-icons prefix">check</i>
                                </button>
                                <button id="btnCancelar" class="btn waves-effect waves-light btn-warning modal-action modal-close">
                                    <span>Cancelar</span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div id="Representantes" class="col s12 tab-content">
                <div id="secRepresentantes"></div>
            </div>
        </div>
        @Scripts.Render("~/Scripts/app/Mantenimientos/ManEmpresaEditar.js")

    </div>
</div>
<div id="pop-n1_representante" class="modal" data-keyboard="false" data-backdrop="static">
</div>
<div id="pop-n1_representante_Ver" class="modal" data-keyboard="false" data-backdrop="static">
</div>
<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")

    <div id="ptv-alert-confirmacion2" class="modal modal-s">
        <div class="modal-header">
            <i class="material-icons btn-close modal-action modal-close" id="btnCloseConfirm">close</i>
        </div>
        <div class="modal-content center-align modal-alert-content">
            <i class="material-icons medium icon-demo yellow-text">question_answer</i>
            <p class="center-align p-desc-confirmacion2"></p>
        </div>
        <div class="modal-footer modal-alert-footer">
            <button class="modal-close btn waves-effect waves-light btn-default " id="btnAgree">
                <span>Si</span>
            </button>
            <button class="modal-close btn waves-effect waves-light btn-default" id="btnCancelConfirm">
                <span>No</span>
            </button>
        </div>
    </div>
    <div id="ptv-alert-ok2" class="modal modal-s">
        <div class="modal-header">
            <i class="material-icons btn-close modal-action modal-close">close</i>
        </div>
        <div class="modal-content center-align modal-alert-content">
            <i class="material-icons medium icon-demo green-text">check_circle</i>
            <p class="center-align p-descripcion2"></p>
            <p class="center-align p-otradescripcion2"></p>
        </div>
        <div class="modal-footer modal-alert-footer">
            <button class="modal-close btn waves-effect waves-light btn-default">
                <span>OK</span>
            </button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}