﻿@using Agrobanco.SIGD.Presentacion.Models
@model Empresa
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="title">Registrar Empresa</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>
<div class="modal-content modal-content-tabs">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#Detalle">Detalle de Empresa</a></li>
            <li class="tab col s6 disabled"><a href="#Representantes">Representantes</a></li>
        </ul>
    </div>

    <div id="Detalle" class="col s12 tab-content">
        <div class="modal-content content-input">
            @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmRegistro" }))
            {
                @Html.AntiForgeryToken()

                <div class="section-border-bottom">
                    <div class="row">
                        <div class="input-field input-field-common col s12 m3 disabled">
                            <label class="label active" for="correlativo">Código : </label>
                            <input name="CodEmpresa" id="Codigo" type="text" class="input-common" value=@Model.CodEmpresa>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s5">
                        <label class="label" for="asunto">Abreviatura</label>
                        <input name="Abreviatura" id="txtAbreviatura" value="@Model.Abreviatura" autocomplete="off" type="text" required maxlength="20">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s12">
                        <label class="label" for="asunto">Descripción</label>
                        <input name="Descripcion" id="txtDescripcion" value="@Model.Descripcion" autocomplete="off" type="text" required maxlength="100">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s12">
                        <label class="label" for="Direccion">Dirección</label>
                        <input name="Direccion" id="txtDireccion" value="@Model.Direccion" autocomplete="off" type="text" required maxlength="200">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s12 m6 l6 xl3">
                        <label for="Fecha" class="label active">Fecha :</label>
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="FechaCreacion" id="txtFecha" type="text" value="@Model.FechaCreacion.Value.ToString("dd/MM/yyyy")" class="datepicker" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col col s12 m4 ">
                        <select name="Estado" id="cbEstado" class="select-require" required value="@Model.Estado">
                            <option value="">Seleccione</option>
                            @foreach (var item in ViewBag.Estados)
                            {
                                if (item.Valor == Convert.ToString(Model.Estado))
                                {

                                    <option value="@item.Valor" selected="selected">@item.Campo</option>
                                }
                                else
                                {
                                    <option value="@item.Valor">@item.Campo</option>
                                }
                            }
                        </select>
                        <label class="label" for="Estado">Estado</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 btn-container">
                        <button id="btnGuardar" class="btn waves-effect waves-light btn-default" type="submit">
                            <span>Guardar</span>
                            <i class="material-icons prefix">check</i>
                        </button>
                        <button id="btnCancelar" class="btn waves-effect waves-light btn-warning modal-action modal-close">
                            <span>Cancelar</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="Representantes" class="col s12 tab-content">
        <div id="secRepresentantes">aaaaaaaaaaaaaa</div>
    </div>
</div>
@Scripts.Render("~/Scripts/app/Mantenimientos/ManEmpresa.js")
