﻿<div id="ptv-DerivarDocumento" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Derivar Documento</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">

        @using (Html.BeginForm("#", "/", FormMethod.Post, new { id = "frmDerivarDocumento" }))
        {
            @Html.AntiForgeryToken()

        <div class="row no-mar-bottom">
            <div class="col s12 m12 l9">
                <h5 class="modal-titulo title" id="mCorrelativo_der"></h5>
                <b><label class="label css-titulo" id="mTipoAccion_der"></label></b> <b id="mTipoAccion_derb"></b>
            </div>
        </div><br>
            <div id="DivDerivacion">
            </div>
            <div>
                <div class="section-border-bottom">
                    <div class="row">
                        <div class="input-field input-field-common col s12 m12">
                            <label class="label active" for="observaciones">Comentario</label>
                            <textarea id="txtDerivacionComentario" required name="Comentario" type="text" maxlength="200" minlength="15" class="materialize-textarea"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 btn-container">
                            <button id="btnGuardarDerivacion" class="btn waves-effect waves-light btn-default">
                                <span>Guardar</span>
                                <i class="material-icons prefix">check</i>
                            </button>
                            <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelarModalDerivar">
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        </div>