﻿@using Agrobanco.SIGD.Presentacion.Models
@model ResultadoBusquedaModel<DocumentoSeguimientoDTO>
@{
    ViewBag.Title = "_SeguimientoDocumento";
    if (Model.Lista == null)
    {
        Model.Lista = new List<DocumentoSeguimientoDTO>();
    }
    Layout = null;
    int? ultMovimiento = null;
}

<div class="row">
    <div class="col s12">
        <ul class="collapsible collapsible-common">
            @if (Model.Lista.Count == 0)
            {
                <li>
                    <div class="collapsible-header  collapsible-header-line"><i class="material-icons">whatshot</i>No se encontró seguimientos</div>
                </li>
            }
            <li>
                @foreach (var reg in Model.Lista.FindAll(x => x.TipoReg == "n1"))
                {
                    if (reg.TipoMovimiento != 1)
                    {
                        ultMovimiento = reg.CodDocMovimiento;
                    }
                    <div class="collapsible-header collapsible-header-line">
                        <div class="row">
                            <div class="form-group col s12 m3">
                                <b>
                                    <p class="label">De:</p>
                                </b>
                                <div class="col s12 m12 no-padding">
                                    <p class="label">Colaborador:</p>
                                    <p>@reg.ColaboradorCreacion</p>
                                </div>
                            </div>
                            <div class="form-group col s12 m7">
                                <b>
                                    <p class="label">Para:</p>
                                </b>
                                <div class="col s12 m3 no-padding">
                                    <p class="label">Area</p>
                                    <p>@reg.Area</p>
                                </div>
                                <div class="col s12 m6">
                                        <p class="label">Colaborador(a):</p>
                                    <p>@reg.Colaborador</p>
                                </div>
                                <div class="col s12 m3">
                                    <p class="label">F. Recepción</p>
                                    <p>@reg.FechaRecepcion</p>
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <div class="col s12 m12 l12">
                                    @switch (reg.EstadoDocumento)
                                    {
                                        case 1:
                                            <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                            break;
                                        case 2:
                                            <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                            break;
                                        case 3:
                                            <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                            break;
                                        case 4:
                                            <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                            break;
                                        case 5:
                                            <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                            break;
                                        case 6:
                                            <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                            break;
                                        case 7:
                                            <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                                @if (Model.Lista.FindAll(x => x.TipoReg == "n11").Count>0)
                                {
                                    <i class="material-icons p-t-7">keyboard_arrow_down</i>
                                }
                            </div>
                        </div>
                    </div>
                }
                @{
                    DocumentoSeguimientoItemViewModel item = new DocumentoSeguimientoItemViewModel();
                    item.Lista = Model.Lista.FindAll(x => x.TipoReg == "n11" && x.TipoMovimiento!=1);
                    item.iCodMovimientoActual = ultMovimiento;
                }
                @if (item.Lista.Count > 0)
                {
                    @Html.Partial("../Documento/_SeguimientoItem", item)
                }
            </li>
            @foreach (var reg in Model.Lista.FindAll(x => x.TipoReg == "n2"))
            {
                <li>
                    <div class="collapsible-header collapsible-header-line">
                        <i class="material-icons">place</i>
                        <div class="left">
                            @switch (reg.EstadoDocumento)
                            {
                                case 1:
                                    <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                    break;
                                case 2:
                                    <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                    break;
                                case 3:
                                    <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                    break;
                                case 4:
                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                    break;
                                case 5:
                                    <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                    break;
                                case 6:
                                    <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                    break;
                                case 7:
                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                    break;
                                default:
                                    break;
                            }
                        </div>
                    </div>
                    <div class="collapsible-body collapsible-body-line">
                        <div class="row">
                            <div class="col s6 m4">
                                <p class="label">Colaborador(a):</p>
                                <p>@reg.Colaborador</p>
                            </div>
                            <div class="col s6 m3">
                                <p class="label">Area</p>
                                <p>@reg.Area</p>
                            </div>
                            <div class="col s12 m4">
                                <p class="label">Fecha de registro</p>
                                <p>@reg.FechaRecepcion</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12">
                                <p class="label">Comentario</p>
                                <p>@reg.Comentario</p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
