﻿@using Agrobanco.SIGD.Presentacion.Models
@using System.Configuration
@model ResultadoBusquedaModel<DocumentoSeguimientoDTO>
@{
    string urlbase = ConfigurationManager.AppSettings["urlbase"];
    ViewBag.Title = "_SeguimientoCabecera";
    Layout = null;
    var comentarios = ViewBag.Comentarios;
    var listaAnexo = ViewBag.ListaAnexos;
    var ListaDetalle = ViewBag.ListaDetalle;
    List<ComentarioDocumentoModel> listComentarios = new List<ComentarioDocumentoModel>();
    List<DocAnexo> listDocAnexo = new List<DocAnexo>();
    if (comentarios != null)
    {
        listComentarios = comentarios.Lista;
    }
    if (listaAnexo != null)
    {
        listDocAnexo = listaAnexo.Lista;
    }


}
<div class="row">
    <div class="col s12">
        <ul class="collapsible collapsible-common">

            @if (Model.Lista != null)
            {
                var ca = 0;
                foreach (var reg in Model.Lista)
                {
            <li>
                <div class="collapsible-header collapsible-header-line collapsiblerow" id="cabdivcollapse_@ca"  >
                    <div class="row">
                        <div class="col s6 m4">
                            <p class="label">De:</p>
                            <p class="text-wrap">@reg.AreaDesde</p>
                            <p class="text-wrap">@reg.NombreDesde</p>
                            <BR>
                            <p>@reg.FechaRecepcion</p>
                            <BR>
                        </div>
                        <div class="col s6 m3">
                            <p class="label">Para:</p>
                            <p class="text-wrap">@reg.AreaPara</p>
                            <p class="text-wrap">@reg.NombrePara</p>
                        </div>
                        <div class="col s12 m4">
                            @switch (reg.EstadoDocumento)
                            {
                                case 1:
                                    <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                    break;
                                case 2:
                                    <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                    break;
                                case 3:
                                    <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                    break;
                                case 4:
                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                    break;
                                case 5:
                                    <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                    break;
                                case 6:
                                    <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                    break;
                                case 7:
                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                    break;
                                default:
                                    break;
                            }
                        </div>
                        <div class="col s12 m1">
                            @if (reg.EstadoDocumento == 6 && ListaDetalle.Lista.Count > 0)
                            {
                                <i class="material-icons p-t-7">keyboard_arrow_down</i>
                            }

                            @if (reg.EstadoDocumento == 3 && ListaDetalle.Lista.Count > 0)
                            {
                                <i class="material-icons p-t-7">keyboard_arrow_down</i>
                            }
                        </div>
                    </div>
                    @if (comentarios.Lista != null)
                    {
                        var listaComentarioFirmaCabecera = listComentarios.FindAll(f => f.Comentario.IndexOf("MOTIVO FIRMA") != -1 && f.CodDocumentoDerivacion == null && f.CodMovimiento == reg.CodDocMovimiento);
                        var listaComentarios = new List<ComentarioDocumentoModel>();
                        if (reg.EstadoDocumento == 7)
                        {
                            listaComentarios = listComentarios.FindAll(x => (x.CodMovimiento == reg.CodDocMovimiento && x.EstadoDocumento == 7)
                                                                           && (x.EstadoDerivacion == null));
                        }
                        else if (reg.EstadoDocumento == 2 && listaComentarioFirmaCabecera.Count > 0)
                        {
                            listaComentarios = listaComentarioFirmaCabecera;
                        }
                        else if (reg.EstadoDocumento == 3 )
                        {
                            listaComentarios = listComentarios.FindAll(x => (x.CodMovimiento == reg.CodDocMovimiento && x.EstadoDocumento == 3)
                                                                           && (x.EstadoDerivacion == null));
                        }
                        else
                        {
                            listaComentarios = listComentarios.FindAll(x => (x.CodDocumento == reg.CodDocAuxiliar && x.EstadoDocumento == reg.EstadoDocumento)
                                                                          && (x.EstadoDerivacion == null));
                        }

                        <div class="row">
                            @if (listaComentarios.Count > 0)
                            {
                                <p class="label">Comentarios:</p>
                            }

                            @foreach (var com in listaComentarios)
                            {
                                var listaAdjuntosComentario = listDocAnexo.FindAll(x => x.CodDocumentoMovimiento == com.CodMovimiento);
                                <ul class="collapsible">
                                    <li>
                                        <div class="collapsible-header collapsible-header-line comentarioDocArbol  collapsible-pading  single-line" id="comentariocabecera_@com.CodComentario" onclick="fcomentarioDocArbol(this.id)">
                                            <i class="material-icons keycomentariocabecera_@com.CodComentario">keyboard_arrow_right</i> @com.ComentadoPor, comentó - @com.FechaCreacion <div id="divcomentariocabecera_@com.CodComentario" class="hide-on-small-only"><p style="padding-left:10px">@(com.Comentario.Length == 15 ? com.Comentario : com.Comentario.Substring(0, (com.Comentario.Length < 15 ? com.Comentario.Length : 16)) + "...")</p></div>
                                        </div>
                                        <div class="collapsible-body">
                                            <span class="text-wrap">@com.Comentario</span>
                                            <BR><BR>
                                            <div>
                                                @foreach (var anx in listaAdjuntosComentario)
                                                {
                                                    <button class="btn waves-effect waves-light btn-war" style="cursor: pointer;" onclick="location.href='@urlbase/Documento/ExportarDocumentoLaserFicher?CodFiche='+@anx.CodLaserfiche;" name="action">
                                                        <i class="material-icons prefix">description</i>
                                                        <span>@anx.NombreDocumento</span>
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                    }
                </div>
                <div class="divider"></div>
                @*APARTADO DERIVADO*@
                @if (reg.EstadoDocumento == 6)
                {
                    List<DocumentoSeguimientoDTO> lstdetalle = new List<DocumentoSeguimientoDTO>();
                    lstdetalle = ListaDetalle.Lista;
                    var filtroDetalleCollap = lstdetalle.Select(o => o.CodDocDerivacion).Distinct().ToList();
                    var cd = 0;
                    for (var i = 0; i < filtroDetalleCollap.Count; i++)
                    {
                        <div class="collapsible-body collapsible-body-line collapDerivado" id="divcollapse_@i">
                            @foreach (var x in lstdetalle.FindAll(c => c.CodDocDerivacion == filtroDetalleCollap[i] && c.EstadoDocumentoInterno!= 3))
                            {

                                var listaComentariosDerivacion = listComentarios.FindAll(z => z.CodMovimiento == x.CodDocMovimiento);
                                <div>
                                    <div class="row row-strech">
                                        <div class="col s12 m1">
                                            <div class="tree-point" id="atree-point_@cd">
                                            </div>
                                            <div class="tree-line">
                                            </div>
                                        </div>
                                        <div class="col s12 m4">
                                            <p class="label">De:</p>
                                            <p class="text-wrap">@x.AreaDesde</p>
                                            <p class="text-wrap">@x.NombreDesde</p>
                                            <br>
                                            <p>@x.FechaRecepcion</p>
                                        </div>
                                        <div class="col s12 m3">
                                            <p class="label">Para:</p>
                                            <p class="text-wrap">@x.AreaPara</p>
                                            <p class="text-wrap">@x.NombrePara</p>
                                        </div>
                                        <div class="col s12 m4" style="padding-top:14px">
                                            @switch (x.EstadoDocumento)
                                            {
                                                case 1:
                                                    <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                                    break;
                                                case 2:
                                                    <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                                    break;
                                                case 3:
                                                    <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                                    break;
                                                case 4:
                                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                                    break;
                                                case 5:
                                                    <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                                    break;
                                                case 6:
                                                    <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                                    break;
                                                case 7:
                                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </div>
                                    </div>
                                    <div class="row row-strech">
                                        <div class="col s12 m1">
                                            <div class="tree-point tree-pointSC" id="btree-point_@cd">
                                            </div>
                                            <div class="tree-line">
                                            </div>
                                        </div>
                                        @if (listaComentariosDerivacion.Count > 0)
                                        {
                                            <div class="col s12 m11">

                                                <p class="label">Comentarios:</p>
                                                @foreach (var comder in listaComentariosDerivacion)
                                                {
                                                    var listaAdjuntosComentario = listDocAnexo.FindAll(h => h.CodDocumentoMovimiento == comder.CodMovimiento);
                                                    <ul class="collapsible">
                                                        <li>
                                                            <div class="collapsible-header collapsible-header-line comentarioDocArbolDerivacion collapsible-pading single-line" id="comentarioderivacion_@comder.CodComentario" onclick="fcomentarioDocArbol(this.id)">
                                                                <i class="material-icons  keycomentarioderivacion_@comder.CodComentario">keyboard_arrow_right</i>@comder.ComentadoPor, comentó - @comder.FechaCreacion<div id="divcomentarioderivacion_@comder.CodComentario" class="hide-on-small-only"><p style="padding-left:10px">@(comder.Comentario.Length == 15 ? comder.Comentario : comder.Comentario.Substring(0, 16) + "...")</p></div>
                                                            </div>
                                                            <div class="collapsible-body">
                                                                <span class="text-wrap">@comder.Comentario</span>
                                                                <BR><BR>
                                                                <div>
                                                                    @foreach (var anx in listaAdjuntosComentario)
                                                                    {
                                                                        <button class="btn waves-effect waves-light btn-war" style="cursor: pointer;" onclick="location.href='@urlbase/Documento/ExportarDocumentoLaserFicher?CodFiche='+@anx.CodLaserfiche;" name="action">
                                                                            <i class="material-icons prefix">description</i>
                                                                            <span>@anx.NombreDocumento</span>
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                                cd++;
                            }
                        </div>
                    }
                }


                @if (reg.EstadoDocumento == 3)
                {
                    List<DocumentoSeguimientoDTO> lstdetalle = new List<DocumentoSeguimientoDTO>();
                    lstdetalle = ListaDetalle.Lista;
                    var filtroDetalleCollap = lstdetalle.Select(o => o.CodDocDerivacion).Distinct().ToList();
                    var cd = 0;
                    for (var i = 0; i < filtroDetalleCollap.Count; i++)
                    {
                        <div class="collapsible-body collapsible-body-line collapDerivado" id="divcollapse_@i">
                            @foreach (var x in lstdetalle.FindAll(c => c.CodDocDerivacion == filtroDetalleCollap[i]))
                            {

                                var listaComentariosDerivacion = listComentarios.FindAll(z => z.CodMovimiento == x.CodDocMovimiento);
                                <div>
                                    <div class="row row-strech">
                                        <div class="col s12 m1">
                                            <div class="tree-point" id="atree-point_@cd">
                                            </div>
                                            <div class="tree-line">
                                            </div>
                                        </div>
                                        <div class="col s12 m4">
                                            <p class="label">De:</p>
                                            <p class="text-wrap">@x.AreaDesde</p>
                                            <p class="text-wrap">@x.NombreDesde</p>
                                            <br>
                                            <p class="text-wrap">@x.FechaRecepcion</p>
                                        </div>
                                        <div class="col s12 m3">
                                            <p class="label">Para:</p>
                                            <p class="text-wrap">@x.AreaPara</p>
                                            <p class="text-wrap">@x.NombrePara</p>
                                        </div>
                                        <div class="col s12 m4" style="padding-top:14px">
                                            @switch (x.EstadoDocumento)
                                            {
                                                case 1:
                                                    <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                                    break;
                                                case 2:
                                                    <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                                    break;
                                                case 3:
                                                    <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                                    break;
                                                case 4:
                                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                                    break;
                                                case 5:
                                                    <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                                    break;
                                                case 6:
                                                    <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                                    break;
                                                case 7:
                                                    <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </div>
                                    </div>
                                    <div class="row row-strech">
                                        <div class="col s12 m1">
                                            <div class="tree-point tree-pointSC" id="btree-point_@cd">
                                            </div>
                                            <div class="tree-line">
                                            </div>
                                        </div>
                                        @if (listaComentariosDerivacion.Count > 0)
                                        {
                                            <div class="col s12 m11">

                                                <p class="label">Comentarios:</p>
                                                @foreach (var comder in listaComentariosDerivacion)
                                                {
                                                    var listaAdjuntosComentario = listDocAnexo.FindAll(h => h.CodDocumentoMovimiento == comder.CodMovimiento);
                                                    <ul class="collapsible">
                                                        <li>
                                                            <div class="collapsible-header collapsible-header-line comentarioDocArbolDerivacion collapsible-pading single-line" id="comentarioderivacion_@comder.CodComentario" onclick="fcomentarioDocArbol(this.id)">
                                                                <i class="material-icons  keycomentarioderivacion_@comder.CodComentario">keyboard_arrow_right</i>@comder.ComentadoPor, comentó - @comder.FechaCreacion<div id="divcomentarioderivacion_@comder.CodComentario" class="hide-on-small-only"><p style="padding-left:10px">@(comder.Comentario.Length == 15 ? comder.Comentario : comder.Comentario.Substring(0, 16) + "...")</p></div>
                                                            </div>
                                                            <div class="collapsible-body">
                                                                <span class="text-wrap">@comder.Comentario</span>
                                                                <BR><BR>
                                                                <div>
                                                                    @foreach (var anx in listaAdjuntosComentario)
                                                                    {
                                                                        <button class="btn waves-effect waves-light btn-war" style="cursor: pointer;" onclick="location.href='@urlbase/Documento/ExportarDocumentoLaserFicher?CodFiche='+@anx.CodLaserfiche;" name="action">
                                                                            <i class="material-icons prefix">description</i>
                                                                            <span>@anx.NombreDocumento</span>
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                                cd++;
                            }
                        </div>
                    }
                }
            </li>
                    ca++;
                }
            }

        </ul>
    </div>
</div>
@Scripts.Render("~/Scripts/app/ArbolSeguimiento.js")