﻿@model Agrobanco.SIGD.Entidades.Entidades.Documento
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Bandeja Mesa Partes</title>
    <style>
        table, td, th {
            border: 1px solid #065a45;
            /*text-align: center;*/
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 14px;
        }

        tr, td {
            padding: 5px;
        }

        td {
            font-size: 12px;
        }

      
    </style>
</head>
<body>
    <div>
        <table width="100%" >
            <tbody>
                <tr style="height: 23px;">
                    <td style="text-align: center; width: 210px; height: 90px;" rowspan="4"><img style="width: 200px; height: 65px; display: block; margin-left: auto; margin-right: auto;" src="{logo}" /></td>
                    <td style="text-align: center; height: 90px;" rowspan="4">
                      
                        <h3 style="text-align: center;">HOJA RESUMEN</h3>
                        <h4>MESA DE PARTES</h4>
                    </td>
                    <td style="height: 23px;">
                        &nbsp;<strong>N&deg; Registro</strong>
                    </td>
                </tr>
                <tr style="height: 21px;">
                    <td style="height: 21px;text-align: center;">&nbsp;@Html.DisplayFor(item => item.Anio)&nbsp; @Html.DisplayFor(item => item.Correlativo)</td>
                </tr>
                <tr style="height: 23px;">
                    <td style="height: 23px;">&nbsp;<strong>Fecha</strong></td>
                </tr>
                <tr style="height: 23px;">
                    <td style="height: 23px;text-align: center;">&nbsp;@Html.DisplayFor(item => item.FechaRegistro)</td>
                </tr>
                <tr >
                    <td style="padding:0px;" colspan="3" >
                        <table width="100%" style="margin:0px;border-collapse: collapse;border: 0px;">
                            <tbody>
                                <tr >
                                    <td style="width: 330px;">&nbsp;<strong>Tipo de Documento</strong></td>
                                    <td style="text-align: center; width: 180px; height: 180px;" rowspan="12"><img style="width: 180px; height: 70px; margin-left: 50px; margin-right: 50px;" src="{logo}" /></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">&nbsp;@Html.DisplayFor(item => item.TipoDocumento)</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;<strong>N&uacute;mero</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">&nbsp;@Html.DisplayFor(item => item.NumDocumento)</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;<strong>Fecha de Documento</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">&nbsp;@Html.DisplayFor(item => item.FechaDocumento)</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;<strong>Asunto</strong></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;@Html.DisplayFor(item => item.Asunto)</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;<strong>Remitente</strong></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;@Html.DisplayFor(item => item.Representante)</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;<strong>Referencia</strong></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;@Html.DisplayFor(item => item.Referencia)</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 18px;">
                    <td style="height: 18px;" colspan="3">&nbsp;&nbsp;&nbsp;<strong>Observaciones</strong></td>
                </tr>
                <tr style="height: 18px;">
                    <td style="height: 18px;" colspan="3">&nbsp;&nbsp;&nbsp;@Html.DisplayFor(item => item.Observaciones)</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>