﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h1>Acceso restringido</h1>
<p>
    Usted debe solicitar acceso al administrador
</p>
<button class="btn" onclick="document.location = '@Url.Action("Index", "Login")'">Ir al inicio</button>
<p class="error-second-text">
    Usted no posee las credenciales suficiente para realizar la siguiente operación. <br>Póngase en contacto con el administrador de la página para la renovación de sus credenciales.
</p>
@Url