﻿
@{
    ViewBag.Title = string.Empty;
}

<div class="col-xs-6 col-xs-offset-3 error-container">
    <h1>Error!</h1>
    <p>
        Vuelva a intentarlo
        <a href="#!">Inicio</a>
    </p>
</div>


