﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h1>Oops!</h1>
<p>
    Página no encontrada
</p>
<button class="btn" onclick="document.location = '@Url.Action("Index", "Login")'">Ir al inicio</button>
<p class="error-second-text">
    Parece que hubo un error con la página que estabas buscando.<br />
    Es posible que la entrada haya sido eliminada o que la direcci&oacute;n no existe
</p>