﻿.container-card {
 //   padding: 18px;
}

.card-common {
    overflow: auto;
    padding:16px;

    h5, p {
        text-align: right;
        color: #fefefe;
    }

    h5 {
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0px;
    }

    p {
        font-family: Ubuntu;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: 0px;
    }
}

.card-green {
    background-color: #41af4f;
}

.card-yellow {
    background-color: #ffd204;
}

.card-orange {
    background-color: #ff5800;
}

.card-pink {
    background-color: #ff005a;
}

.card-greendark {
    background-color: #065a45;
}

.card-greenwhite {
    background-color: #0cae89;
}

.card-greenbrillant {
    background-color: #9bbe00;
}

.h6-subtitle {
    h6 {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #00694f;
    }
}


.h4-title {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #41af4f;
}

.h4-title2 {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight:100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffd204;
}

.layout-card-gray-1 {
    background-color: #f3f3ee;
}

.layout-card-gray-2 {
    background-color: #fefefe;
}

.mat-drawer-container_card {
    position: relative;
    top: 0;
    left: -50px;
    font-size: 75px;
    color: rgba(0, 0, 0, 0.17) !important;
}