﻿.collapsible-body.collapsible-body-line, .collapsible-header-line {
    padding: 0; 
    .row {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .row.row-strech {
        margin-bottom: 0;

        .col {
            border-bottom: 1px solid #dcdcd4;

            &:first-child {
                border-bottom: 1px solid transparent;
            }
        }
    }

    p.label {
        font-size: 10px;
        letter-spacing: 0px;
        color: #939383;
    }

    p {
        font-size: 14px;
        letter-spacing: 0px;
        color: #72757b;
    }
}

.collapsible-header-line {
    background-color: #f3f3ee;
    border-bottom: none;
    p {
        margin: 0;
    }
}

.collapsiblerow{
    display:block !important
}


.single-line {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.collapsible-body-line {
    background-color: #fbfbf8;

    p.label {
        margin-bottom: 0;
    }

    p:not(.label) {
        margin-top: 0;
    }
}

.tree-line {
    width: 1px;
    height: 100%;
    background-color: #dcdcd4;
}
.tree-point {
    width: 5px;
    height: 5px;
    background-color: #dcdcd4;
    left: -2.5px;
    position: relative;
    top: 20px;
}

.collapsible-pading{
    padding:7px !important;
}

.tree-pointSC {
    width: 1px !important;
    height: 1px !important;
}

.collapsible .active s1 i {
    transform: rotate(180deg);
    transition: transform .5s ease-in-out;
}

.collapsible-common {
    box-shadow: none;
    border: none;

    .collapsible-header {
        padding: 0;

        .row .col {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .collapsible-header-icon {
        border-top: 1px solid #e4e4de;
        text-align: center;

        i {
            margin-right: 0px;
        }
    }
}

@media only screen and (min-width: 601px) {
    .collapsible-common {
        .collapsible-header {
            padding: 1rem;

            .row .col {
                padding:0;
            }
        }

        .collapsible-header-icon {
            border-top: none;
            text-align: right;
        }
    }

    .collapsible-body.collapsible-body-line, .collapsible-header-line {
        padding: 2rem;
     }
}