﻿.container-login {
    width: 95%;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    height: 100%;

    .logo {
        width: 80%;
        height: auto;
    }
     
    h3 {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: 0.34px;
        text-align: center;
        color: #4a4a4a;
    }

    p {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: 0.34px;
        text-align: center;
        color: #9b9a9d;
    }

    .lbl-error {
        color: $color-error;
    }
}

img {
    &.login-bkg {
        height: 100vh;
    }
}

.m-b-0 {
    margin-bottom : 0;
}

body .login {
    background: url("../img/imagen-login-responsive.jpg") no-repeat right top;
    background-size: 100% 100%;
    padding-top: 25px !important;
    height: 100vh;
    padding-bottom: 25px !important;
}


@media only screen and (min-width: 601px){

    .container-login {
        width: 70%;

        .logo {
            width: 90%;
            max-width: 278px;
            height: auto;
        }
    }
    body .login {
        background: none;
    }

    body .login-bkg {
        background: url("../img/imagen-login.jpg") no-repeat right top;
        background-size: 100% 100%;
        height: 100vh;
    }

    
}

@media only screen and (min-width: 993px){

}

@media only screen and (min-width: 1201px){

}
