﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2
@using Agrobanco.SIGD.Presentacion.Filters;
@using Agrobanco.SIGD.Comun
@{
    ViewBag.Title = "Home Page";
    var ok = false;
    var i = 0;
    var usuario = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();

    HelperAgroSeguridad helper = new HelperAgroSeguridad();

    var sesionAgroSeguridad = helper.ObtenerSesionAgroSeguridad();

    if (usuario != null)
    {
        ok = true;
    }
}

@{
    if (ok == true)
    {
        if (sesionAgroSeguridad.Model != null && sesionAgroSeguridad.eServicioResponse.Resultado == 1)
        {
            var listaMenu = sesionAgroSeguridad.Model.ListaOpcionesMenu;
            var modulos = listaMenu.Where(m => string.IsNullOrEmpty(m.IdRelacion) == true).ToList();

            <div class="container-card">
                <div class="section no-padding">
                    <div class="row     col s12 no-mar-bot no-padding">
                        <nav class="nav-common nav-short">
                            <div class="nav-wrapper">
                                <div class="col s12">
                                    <a href="#!" class="breadcrumb">INICIO</a>
                                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <h4 class="h4-title"><b class="h4-title2">&#x1d15b;</b>&nbsp;  BIENVENIDO(A)</h4>
                <div class="row layout-card-gray-2">
                    @foreach (var item in modulos)
                    {
                        var listaOpciones = listaMenu.Where(m => m.IdRelacion == item.IdOpcion).OrderBy(m => m.CorrelativoOpcion).ToList();
                        if (listaOpciones == null || listaOpciones.Count == 0)
                        {
                            listaOpciones.Add(item);
                        }
                        var descripcion = "Documentos Externos";
                        var color = "card-green";
                        var estiloicono = "insert_drive_file";
                        var nombreModulo = item.NombreOpcion;
                        string controlerMod = "";
                        string accionMod = "";
                        <div class="col s12 h6-subtitle"><h6>@nombreModulo</h6></div>
                        foreach (var opcion in listaOpciones)
                        {
                            estiloicono = string.IsNullOrEmpty(opcion.TipoIconoDescripcion) ? item.TipoIconoDescripcion : opcion.TipoIconoDescripcion;
                            descripcion = opcion.DescripcionAplicacion;

		                     <div class="col s12 m4">
                                 @if (opcion.NombreOpcion != null)
                                 {
                                     switch (opcion.NombreOpcion.ToUpper())
                                     {
                                         case ("MESA DE PARTES"):
                                             color = "card-green";
                                             break;
                                         case ("RECIBIDOS"):
                                             color = "card-yellow";
                                             break;
                                         case ("CON PLAZO"):
                                             color = "card-orange";
                                             break;
                                         case ("TIPOS DE DOCUMENTO"):
                                             color = "card-blue";
                                             break;
                                         case ("ASUNTOS ESTÁNDAR"):
                                             color = "card-blue";
                                             break;
                                         case ("EMPRESAS"):
                                             color = "card-blue";
                                             break;
                                         case ("FERIADOS"):
                                             color = "card-blue";
                                             break;
                                         case ("GRUPOS"):
                                             color = "card-blue";
                                             break;
                                         case ("ÁREAS"):
                                             color = "card-blue";
                                             break;
                                         case ("JEFE DE EQUIPO"):
                                             color = "card-blue";
                                             break;
                                         case ("USUARIO SIED"):
                                             color = "card-blue";
                                             break;
                                         case ("Usuario SIED"):
                                             color = "card-blue";
                                             break;
                                         case ("TRABAJADORES"):
                                             color = "card-blue";
                                             break;
                                         case ("REG. MESA PARTES"):
                                             color = "card-blueBrillant";
                                             break;
                                         case ("ATENCIÓN DOCUMENTOS"):
                                         case ("ÁREA, FECHA Y ESTADO"):
                                         case ("SEGUIMIENTO DOCUMENTOS"):
                                             color = "card-blueBrillant";
                                             break;
                                         case ("ENVÍO SIED FONAFE"):
                                             color = "card-greenwhite";
                                             break;
                                     }
                                 }
                                 <div class="card-panel card-common @(color)">
                                     <div class="row">
                                         <div class="col s3">
                                             <i class="material-icons mat-drawer-container_card">@estiloicono</i>
                                         </div>
                                         <div class="col s9">
                                             <h5>
                                                 @if (opcion.UrlOpcion != null)
                                                 {
                                                     controlerMod = opcion.UrlOpcion;
                                                     accionMod = "Index";
                                                 }
                                                 else
                                                 {
                                                     controlerMod = opcion.Controller;
                                                     accionMod = opcion.Action;
                                                 }

                                                 <span>@Html.ActionLink(opcion.NombreOpcion, accionMod, controlerMod, null, new { style = "text-decoration:none;color:#fefefe;" })</span>
                                             </h5>
                                             <p>@descripcion</p>
                                         </div>
                                     </div>
                                 </div>

                             </div>
	                    }   
                    }
                </div>
            </div>
        }
    }

}



@{
    if (ok == true)
    {

        if (usuario.Perfil != null)
        {
            var listaPermisos = usuario.Permisos.FindAll(x => x.Permitido == true).ToList();
            var listModulos = listaPermisos.GroupBy(p => new { p.Modulo.vCodModulo, p.Modulo.vNombre, p.Modulo.vEstiloIcono, p.Modulo.vURL });
            <div class="container-card">
                <div class="section no-padding">
                    <div class="row     col s12 no-mar-bot no-padding">
                        <nav class="nav-common nav-short">
                            <div class="nav-wrapper">
                                <div class="col s12">
                                    <a href="#!" class="breadcrumb">INICIO</a>
                                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <h4 class="h4-title"><b class="h4-title2">&#x1d15b;</b>&nbsp;  BIENVENIDO(A)</h4>
                <div class="row layout-card-gray-2">
                    @foreach (var item in listModulos)
                    {
                        var descripcion = "Documentos Externos";
                        var color = "card-green";
                        var estiloicono = "insert_drive_file";
                        var modulo = item.Key;
                        var listOpciones = listaPermisos.Where(x => x.vCodModulo == modulo.vCodModulo).ToList();
                        string controlerMod = "";
                        string accionMod = "";
                        <div class="col s12 h6-subtitle"><h6>@modulo.vNombre</h6></div>
                        foreach (var item2 in listOpciones)
                        {
                            <div class="col s12 m4 ">
                                @if (item2.Opcion.vNombre != null)
                                {

                                    switch (item2.Opcion.vNombre.ToUpper())
                                    {
                                        case ("MESA DE PARTES"):
                                            color = "card-green";
                                            estiloicono = "insert_drive_file";
                                            descripcion = "Documentos Externos";
                                            break;
                                        case ("RECIBIDOS"):
                                            color = "card-yellow";
                                            estiloicono = "input";
                                            descripcion = "Documentos Recibidos internos y externos";
                                            break;
                                        case ("CON PLAZO"):
                                            color = "card-orange";
                                            estiloicono = "date_range";
                                            descripcion = "Documentos Recibidos internos y externos con plazo";
                                            break;                                        
                                        case ("TIPOS DE DOCUMENTO"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("ASUNTOS ESTÁNDAR"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("EMPRESAS"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("FERIADOS"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("GRUPOS"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;

                                        case ("ÁREAS"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;

                                        case ("JEFE DE EQUIPO"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("SECUENCIALES"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("TRABAJADORES"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Mantenimiento de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("REG. MESA PARTES"):
                                            color = "card-blue";
                                            estiloicono = "developer_board";
                                            descripcion = "Reporte de " + item2.Opcion.vNombre.ToUpper();
                                            break;
                                        case ("ATENCIÓN DOCUMENTOS"):
                                        case ("ÁREA, FECHA Y ESTADO"):
                                        case ("SEGUIMIENTO DOCUMENTOS"):
                                            color = "card-blueBrillant";
                                            estiloicono = "insert_chart";
                                            descripcion = "Reporte de " + item2.Opcion.vNombre.ToUpper();
                                            break;

                                    }
                                }
                                <div class="card-panel card-common @(color)">
                                    <div class="row">
                                        <div class="col s3">
                                            <i class="material-icons mat-drawer-container_card">@estiloicono</i>
                                        </div>
                                        <div class="col s9">
                                            <h5>
                                                @if (item2.Opcion.vURL != null)
                                                {
                                                    if ("/" + item2.Opcion.vURL == Request.Url.AbsolutePath)
                                                    {
                                                        ViewBag.BreadCrumbNivel1 = modulo.vNombre;
                                                        if (ViewBag.BreadCrumbNivel2 == null)
                                                        {
                                                            ViewBag.BreadCrumbNivel2 = item2.Opcion.vNombre;
                                                        }
                                                        else
                                                        {
                                                            ViewBag.BreadCrumbNivel3 = item2.Opcion.vNombre;
                                                        }
                                                    }
                                                    if (item2.Opcion.vURL.Split('/').Length <= 1)
                                                    {
                                                        controlerMod = item2.Opcion.vURL.Split('/')[0];
                                                        accionMod = "Index";
                                                    }
                                                    else
                                                    {
                                                        controlerMod = item2.Opcion.vURL.Split('/')[0];
                                                        accionMod = item2.Opcion.vURL.Split('/')[1];
                                                    }
                                                    <span>@Html.ActionLink(@item2.Opcion.vNombre, accionMod, controlerMod, null, new { style = "text-decoration:none;color:#fefefe;" })</span>
                                                }
                                                else
                                                {
                                                    <span>@Html.ActionLink(@item2.Modulo.vNombre, accionMod, @item2.Modulo.vURL, null, new { style = "text-decoration:none;color:#fefefe;" })</span>
                                                }
                                            </h5>
                                            <p>@descripcion</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        i++;
                    }
                </div>
            </div>
        }
    }
}
