﻿@using Agrobanco.SIGD.Presentacion.Models
@model Feriado
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="title">Registrar Feriado</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>
<div class="modal-content content-input">
    @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmRegistro" }))
    {
        @Html.AntiForgeryToken()

        <div class="section-border-bottom">
            <div class="row">
                <div class="input-field input-field-common col s12 m3 disabled">
                    <label class="label active" for="txtCodFeriado">Código : </label>
                    <input name="CodFeriado" id="txtCodFeriado" type="text" class="input-common" value=@Model.CodFeriado>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12 m6 l6 xl3">
                <label for="FechaStr" class="label active">Fecha :</label>
                <i class="material-icons icon-suffix">date_range</i>
                <input name="FechaStr" id="txtFecha" type="text" value="@Model.Fecha.Value.ToString("dd/MM/yyyy")" class="datepicker" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col s12">
                <label class="label" for="asunto">Descripción</label>
                <input name="Descripcion" id="txtDescripcion" value="@Model.Descripcion" autocomplete="off" type="text" required maxlength="100">
            </div>
        </div>
        <div class="row">
            <div class="input-field input-field-common col col s12 m6 ">
                <select name="Estado" id="cbEstado" class="select-require" required value="@Model.Estado">
                    <option value="">Seleccione</option>
                    @foreach (var item in ViewBag.Estados)
                    {
                        if (item.Valor == Convert.ToString(Model.Estado))
                        {

                            <option value="@item.Valor" selected="selected">@item.Campo</option>
                        }
                        else
                        {
                            <option value="@item.Valor">@item.Campo</option>
                        }
                    }
                </select>
                <label class="label" for="Estado">Estado</label>
            </div>

            <div class="input-field input-field-common col col s12 m6 ">
                <select name="TipoFeriado" id="cbTipoFeriado" class="select-require" required value="@Model.TipoFeriado">
                    <option value="">Seleccione</option>
                    @foreach (var item in ViewBag.TipoFeriado)
                    {
                        if (item.Valor == Convert.ToString(Model.TipoFeriado))
                        {

                            <option value="@item.Valor" selected="selected">@item.Campo</option>
                        }
                        else
                        {
                            <option value="@item.Valor">@item.Campo</option>
                        }
                    }
                </select>
                <label class="label" for="Estado">Tipo Feriado</label>
            </div>


        </div>

        <div class="row">
            <div class="input-field input-field-common col s12 m6 l6 xl3">
                <label for="FechaCreacion" class="label active">Fecha :</label>
                <i class="material-icons icon-suffix">date_range</i>
                <input name="FechaCreacion" id="txtFecha" type="text" value="@Model.FecCreacion.Value.ToString("dd/MM/yyyy")" class="datepicker" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col s12 btn-container">
                <button id="btnGuardar" class="btn waves-effect waves-light btn-default" type="submit">
                    <span>Guardar</span>
                    <i class="material-icons prefix">check</i>
                </button>
                <button id="btnCancelar" class="btn waves-effect waves-light btn-warning modal-action modal-close">
                    <span>Cancelar</span>
                </button>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/Scripts/app/Mantenimientos/ManFeriados.js")
