﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<ReportesMesaPartes>

<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarPDFSeguimientoDeDocumentos"))?HD_codArea=@(ViewBag.HD_codArea)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_nrotramite=@(ViewBag.HD_nrotramite)&HD_anio=@(ViewBag.HD_anio)">

        <i class="material-icons prefix">picture_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>


@*<div class="col s6 m3 l2">
        <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.searchString)">
            <i class="material-icons prefix">description</i>
            <span>Exportar EXCEL</span>
        </a>
    </div>*@


<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarExcelSeguimientoDeDocumentos"))?HD_codArea=@(ViewBag.HD_codArea)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_nrotramite=@(ViewBag.HD_nrotramite)&HD_anio=@(ViewBag.HD_anio)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>

<div class="col s6 m6 l8 right-align text-right">

    <ul class="pagination no-margin" id="btnPaginacion">
        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("SeguimientoDeDocumentos", new { page = page, HD_codArea = ViewBag.HD_codArea, HD_nrotramite = ViewBag.HD_nrotramite , HD_anio = ViewBag.HD_anio,  HD_codTipDoc = ViewBag.HD_codTipDoc }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSuccess", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>


<div class="col s12 table-listas">

    <input type="hidden" id="HD_nrotramite" name="HD_nrotramite" />
    <input type="hidden" id="HD_anio" name="HD_anio" />
    <input type="hidden" id="HD_codArea" name="HD_codArea" />
    <input type="hidden" id="HD_codTipDoc" name="HD_codTipDoc" />
    
    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m1">Nro. Trámite</div>
            <div class="col s12 m1">Fecha Doc.</div>
            <div class="col s12 m2">Remitente</div>
            <div class="col s12 m2">Destinatario</div>
            <div class="col s12 m2">Asunto del Documento</div>
            <div class="col s12 m2">Observación</div>
            <div class="col s12 m1" style="text-align:right">Estado</div>
            @*style="text-align:center"*@

        </div>

        @foreach (var item in Model.Lista)
        {
        <div class="row">
            <div class="col s12 m1">
                @{
                    var partes = item.vCorrelativo.Split(new String[] { "-AGROBANCO" }, StringSplitOptions.RemoveEmptyEntries);
                    if (partes.Length > 1)
                    {
                        @:<p>@(partes[0])</p>
                        @:<p>@("-AGROBANCO" + partes[1])</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.vCorrelativo)
                    }
                }

            </div>



            <div class="col s12 m1">
                <label>@Convert.ToDateTime(item.FechaDocumento).ToShortDateString()</label>
            </div>


            <div class="col s12 m2">
                <label>@item.vRemitente</label>
            </div>

            <div class="col s12 m2">
                <label>@item.vDestinatario</label>
            </div>

            <div class="col s12 m2 text-wrap">
                <label>@item.vAsunto</label>
            </div>


            <div class="col s12 m2 text-wrap">
                <label>@item.vObservacion</label>
            </div>

            @*<div class="col s12 m1">
            <label>@item.EstadoDoc</label>
        </div>*@



            <div class="col s12 m1" style="width:10%">
                @*style="width:10%"*@
                @switch (item.idestado)
                {
                    case 1:
                        <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                        break;
                    case 2:
                        <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                        break;
                    case 3:
                        <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                        break;
                    case 4:
                        <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                        break;
                    case 5:
                        <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                        break;
                    case 6:
                        <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                        break;
                    case 7:
                        <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                        break;
                    default:
                        break;
                }
            </div>


        </div>
        }
    </div>
</div>

