﻿
@{
    ViewBag.Title = "TrabajadorSIGDInexistente";
    
}
<div class="section no-padding">
    <div class="row col s12 no-mar-bot">

        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <p>El usuario @ViewBag.usuarioWeb no se encuentra registrado o activo en el maestro de trabajadores de SIGD, consultar con el administrador del sistema.</p>
                </div>
            </div>
        </nav>
    </div>

</div>


