﻿@using Agrobanco.SIGD.Presentacion.Models
@model Asunto
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="title">Ver Asunto</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>
<div class="modal-content modal-content-tabs">
    <div class="row">
        <div class="col s12 tab-content">
            <div class="no-mar-top row card-panel card-common card-lightblue">
                <div class="row">
                    <div class="col s4 right-align">
                        <b><label class="label css-titulo">Código:</label></b>
                    </div>
                    <div class="col s8 left-align">
                        <b>@Model.CodAsunto</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Descripcion</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.Descripcion
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Registrado por:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.UsuarioCreacion
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Fecha Registro:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.FechaCreacion.Value.ToString("dd/MM/yyyy hh:mm:ss")
                    </div>
                </div>

                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Fecha Actualización:</label>
                    </div>
                    <div class="col s8 left-align">
                        @((Model.FechaActualizacion == null) ? "" : Model.FechaActualizacion.Value.ToString("dd/MM/yyyy hh:mm:ss"))

                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Actualizado por:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.UsuarioActualizacion
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 right-align">
                        <label class="label">Estado:</label>
                    </div>
                    <div class="col s8 left-align">
                        @Model.EstadoDescripcion
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>
