﻿<div id="ptv-VerTipoDocumento" class="modal" data-keyboard="false" data-backdrop="static">

    <div class="modal-header">
        <h4 class="title">Ver Tipo Documento</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content modal-content-tabs">
        <div class="row">
            <div class="col s12 tab-content">
                <div class="no-mar-top row card-panel card-common card-lightblue">
                    <div class="row">
                        <div class="col s4 right-align">
                            <b><label class="label css-titulo">Código:</label></b>
                        </div>
                        <div class="col s8 left-align">
                            <span id="codigover"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Abreviatura</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="abreviaturaver"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Descripcion</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="descripcionver"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Fecha Registro:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="fechaver"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Registrado por:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="usuario"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Fecha Actualizacion:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="fechaactualizacion"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Actualizado por:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="usuarioact"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Estado:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="estadover"></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>