﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<ReportesMesaPartes>

<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarPDFAreaFechaEstado"))?HD_codArea=@(ViewBag.HD_codArea)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_FecInicio=@(ViewBag.HD_FecInicio)&HD_FecFin=@(ViewBag.HD_FecFin)&HD_codEstadoDoc=@(ViewBag.HD_codEstadoDoc)">

        <i class="material-icons prefix">picture_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>


@*<div class="col s6 m3 l2">
        <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.searchString)">
            <i class="material-icons prefix">description</i>
            <span>Exportar EXCEL</span>
        </a>
    </div>*@


<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarExcelAreaFechaEstado"))?HD_codArea=@(ViewBag.HD_codArea)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_FecInicio=@(ViewBag.HD_FecInicio)&HD_FecFin=@(ViewBag.HD_FecFin)&HD_codEstadoDoc=@(ViewBag.HD_codEstadoDoc)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>


<div class="col s6 m6 l8 right-align text-right">

    <ul class="pagination no-margin" id="btnPaginacion">
        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("AreaFechaEstado", new { page = page, HD_codArea = ViewBag.HD_codArea, fecInicio  = ViewBag.HD_FecInicio, fecFinal = ViewBag.HD_FecFin, HD_codTipDoc = ViewBag.HD_codTipDoc, HD_codEstadoDoc = ViewBag.HD_codEstadoDoc }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSuccess", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>


<div class="col s12 table-listas">
    <input type="hidden" id="HD_FecInicio" name="HD_FecInicio" />
    <input type="hidden" id="HD_FecFin" name="HD_FecFin" />
    <input type="hidden" id="HD_codArea" name="HD_codArea" />
    <input type="hidden" id="HD_codTipDoc" name="HD_codTipDoc" />
    <input type="hidden" id="HD_codEstadoDoc" name="HD_codEstadoDoc" />

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m2">Nro. Trámite</div>
            <div class="col s12 m2">Área Derivado</div>
            <div class="col s12 m2">Fecha Doc.</div>
            <div class="col s12 m2">Asunto</div>
            <div class="col s12 m1">Estado</div>
            <div class="col s12 m2">Responsable Cierre Tramite</div>



        </div>

        @foreach (var item in Model.Lista)
        {
        <div class="row">
            <div class="col s12 m2">
                @{
                    var partes = item.vCorrelativo.Split(new String[] { "-AGROBANCO" }, StringSplitOptions.RemoveEmptyEntries);
                    if (partes.Length > 1)
                    {
                        @:<p>@(partes[0])</p>
                        @:<p>@("-AGROBANCO" + partes[1])</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.vCorrelativo)
                    }
                }
               
            </div>

            <div class="col s12 m2">
                <label>@item.DesArea</label>
            </div>

            <div class="col s12 m2">
                <label>@Convert.ToDateTime(item.FechaDocumento).ToShortDateString()</label>
            </div>

            <div class="col s12 m2">
                <label>@item.vAsunto</label>
            </div>


            <div class="col s12 m1">
                <label>@item.EstadoDoc</label>
            </div>

            <div class="col s12 m2">
                <label>@item.Responsable</label>
            </div>








        </div>
        }
    </div>
</div>


