﻿@using Agrobanco.SIGD.Presentacion.Models
@model Secuencia
@{
    Layout = null;
}
    <div class="modal-header">
        <h4 class="title">Ver Secuencial</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content modal-content-tabs">
        <div class="row">
            <div class="col s12 tab-content">
                <div class="no-mar-top row card-panel card-common card-lightblue">
                    <div class="row">
                        <div class="col s4 right-align">
                            <b><label class="label css-titulo">Código:</label></b>
                        </div>
                        <div class="col s8 left-align">
                            @Model.CodSecuencial
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <b><label class="label css-titulo">Origen:</label></b>
                        </div>
                        <div class="col s8 left-align">
                            @((Model.Origen == 1) ? "Interno" : "Externo")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Año</label>
                        </div>
                        <div class="col s8 left-align">
                            @Model.anio
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Correlativo</label>
                        </div>
                        <div class="col s8 left-align">
                            @Model.correlativo
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Área</label>
                        </div>
                        <div class="col s8 left-align">
                            @Model.DescripcionArea
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Tipo Documento</label>
                        </div>
                        <div class="col s8 left-align">
                            @Model.DescripcionTipoDocumento
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Valor Correlativo</label>
                        </div>
                        <div class="col s8 left-align">
                            @Model.ValorCorrelativo
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Uso</label>
                        </div>
                        <div class="col s8 left-align">
                            @((Model.flagUsado==1)?"En Uso":"Sin Uso")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Estado:</label>
                        </div>
                        <div class="col s8 left-align">
                            @((Model.Estado == 1) ? "Activo" : "Inactivo")
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
