﻿@using Agrobanco.SIGD.Presentacion.Models
@{
    Layout = null;
}

<div id="ptv-EditarSecuencial" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Edición Secuencial</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">


        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmNuevoSecuencialEdit" }))

        {
            @Html.AntiForgeryToken()
        <div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4 ">
                    <select name="cbOrigenEdit" id="cbOrigenEdit" class="select-require cbOrigen" required>
                        <option value="">Seleccione</option>
                    </select>
                    <label class="label" for="Estado">Origen</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4 ">
                    <select name="cbAnioEdit" id="cbAnioEdit" class="select-require cbAnio" disabled>
                        <option value="">Seleccione</option>
                        <option value="@DateTime.Today.Year">@DateTime.Today.Year</option>
                        <option value="@(Convert.ToInt32(DateTime.Today.Year)+1)">@(Convert.ToInt32(DateTime.Today.Year) + 1)</option>
                    </select>
                    <label class="label" for="Estado">Año</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4 ">
                    <select name="cbAreasEdit" id="cbAreasEdit" class="select-require  cbAreas" disabled>
                        <option value="">Seleccione</option>
                    </select>
                    <label class="label" for="Estado">Áreas</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4 ">
                    <select name="cbTipoDocumentoEdit" id="cbTipoDocumentoEdit" class="select-require cbTipoDocumento" disabled>
                        <option value="">Seleccione</option>
                    </select>
                    <label class="label" for="Estado">Tipo Documento</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4 ">
                    <label class="label active" for="plazo" id="lblseccorrelativo">Secuencia Correlativo</label>
                    <input name="secCorrelativoEdit" id="secCorrelativoEdit" type="number" class="input-plazo secCorrelativo" min="1" max="9999" onKeyPress="if(this.value.length>3) return false;" disabled required>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m6">
                    <label class="label active lblcorrelativo" for="plazo">Correlativo Generado</label>
                    <input name="ValorCorrelativoEdit" id="ValorCorrelativoEdit" type="text" class="input-plazo ValorCorrelativo" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4">
                    <select name="cbEstadoEdit" id="cbEstadoEdit" class="select-require" required>
                        <option value="">Seleccione</option>
                    </select>
                    <label class="label" for="Estado">Estado</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 btn-container">
                    <button class="btn waves-effect waves-light btn-default" id="btnActualizar" type="submit">
                        <span>Guardar</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close btnCancelar" id="btnCancelarEdit">
                        <span>Cancelar</span>
                    </button>

                </div>
            </div>
        </div>
        }

    </div>
</div>