﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.Secuencia>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Lista de Secuencias</title>
    <style>

        table, td, th {
            border: 1px solid #065a45;
            text-align: center;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 12px;
        }

        th, td {
            padding: 5px;
        }

        td {
            font-size: 10px;
        }

        b, p {
            margin: 1px;
        }

        p {
            font-weight: 1;
            font-size: 10px;
        }

        .title {
            font-style: italic
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="2" width="150px">
                        <div><img src="{logo}" style=" width: 150px;height: auto;" /></div>
                    </th>
                    <th colspan="1">Lista de Secuencias</th>
                    <th colspan="1">
                        <b>Sistema de Tramite Documentario</b>
                        <p>Año: @DateTime.Now.Year.ToString()</p>
                        <p>Fecha: @DateTime.Now.ToShortDateString()</p>
                    </th>
                </tr>
                <tr>
                    <th>Código</th>
                    <th>Origen</th>
                    <th>Año</th>
                    <th>Correlativo</th>
                    <th>Área</th>
                    <th>Tipo Documento</th>
                    <th>Valor Correlativo</th>
                    <th>Uso</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.CodSecuencial
                    </td>
                    <td>
                        @((item.Origen == 1) ? "Interno" : "Externo")
                    </td>
                    <td>@item.anio</td>
                    <td> @item.correlativo</td>
                    <td>@item.DescripcionArea</td>
                    <td>@item.DescripcionTipoDocumento</td>
                    <td> @item.ValorCorrelativo</td>
                    <td> @((item.flagUsado == 1) ? "En Uso" : "Sin Uso")</td>
                    <td>@(item.Estado == 1 ? "Activo" : "Inactivo")</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>