﻿@{
    ViewBag.Title = "Home Page";
}

<h3>TEST WEB SERVICES - SIED</h3>
<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo Entidad</label>
        <div class="col-sm-10">
            <input class="form-control" id="TipoEntidad">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Entidad</label>
        <div class="col-sm-10">
            <input class="form-control" id="Entidad">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Numero Documento</label>
        <div class="col-sm-10">
            <input class="form-control" id="NumeroDocumento">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha Documento</label>
        <div class="col-sm-10">
            <input class="form-control" id="FechaDocumento">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Dirigido A</label>
        <div class="col-sm-10">
            <input class="form-control" id="DirigidoA">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Referencia</label>
        <div class="col-sm-10">
            <input class="form-control" id="Referencia">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Asunto</label>
        <div class="col-sm-10">
            <input class="form-control" id="Asunto">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Prioridad</label>
        <div class="col-sm-10">
            <input class="form-control" id="Prioridad">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Plazo</label>
        <div class="col-sm-10">
            <input class="form-control" id="Plazo">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Indicacion</label>
        <div class="col-sm-10">
            <input class="form-control" id="Indicacion">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Otras Indicaciones</label>
        <div class="col-sm-10">
            <input class="form-control" id="OtrasIndicaciones">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Lista de Adjuntos</label>
        <div class="col-sm-10">
            <button class="btn btn-primary" id="btnAgregarAdjuntos">Agregar Adjuntos</button>
        </div>
    </div>
    <div id="divAdjuntosAdicionales">

    </div>
    <div class="form-group row" id="divregistrar">
        <div class="col-sm-10">
            <button class="btn btn-primary" id="btnRegistrar">Registrar</button>
        </div>
    </div>
    <div id="divloading" style="display:none">
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Cargando...
    </button></div>
</form>

@Scripts.Render("~/Scripts/app/WebService.js")