﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2
@{
    EUsuario userSession = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();
    int anioActual = DateTime.Now.Year;
    int codArea = 1;
    if (userSession != null)
    {
        codArea = userSession.MaeTrabajador.iCodArea;
    }


}
<div id="ptv-DocumentoBandejaEnvioSiedEDIT" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Edición Documento</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">


        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmEditDocumento" }))

        {
            @Html.AntiForgeryToken()
        <div class="section-border-bottom">
            <div class="row">
                <input type="hidden" id="hdCodDocumentoEdit" name="CodDocumento" />
                <div class="input-field input-field-common col s12 m5 disabled">
                    <label class="label active lblactive" for="correlativo">Nro Trámite </label>
                    <input name="CorrelativoEdit" id="CorrelativoEdit" type="text" class="input-common">
                </div>

                <div class="input-field input-field-common col s12 m7 disabled">
                    <label class="label active" for="areaOrigen">Área de Origen </label>
                    @*<input name="areaOrigen" id="areaOrigen" type="text" class="input-common" disabled value="Equipo de Tecnologias de la Información">*@
                    <select name="areaOrigen">
                        @foreach (var item in ViewBag.ListaArea)
                        {
                            string strSelected = string.Empty;
                            if (item.CodArea == codArea)
                            {
                                strSelected = "selected";
                            }

                            <option value="@item.CodArea" @strSelected>@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common  col s12 m12 ">
                    <label class="label active" style="color: green"><b>Dirigido a:</b></label>
                </div>
                <div class="input-field input-field-common col s12 m12">
                    <label class="label active" for="codArea">To</label>
                    <div class="chips-autocomplete chips-areasEdit" id="chipTOEdit"></div>
                    <input type="hidden" id="hdCodAreaEdit" name="CodAreaBEEdit" />
                    <input type="hidden" id="hdFormatoDocumentoEmpresasEdit" name="CodFormatoDocumentoEmpresasEdit" />
                    <input type="hidden" id="hdtipoEmpresaEdit" name="hdtipoEmpresaEdit" />
                    <input type="hidden" id="hdCodDerivadosInactivar" name="CodDerivadosInactivar" />
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col col s12 m4 disabled">
                    <select name="origenEdit" id="origenEdit" class="input-common">

                        @foreach (var item in ViewBag.ListaOrigen)
                        {
                            string attrSelected = item.CodParametro == ViewBag.OrigenEdit ? "selected" : string.Empty;
                            <option value="@item.CodParametro" @attrSelected>@item.Campo</option>
                        }
                        @*<option value="1">Interno</option>
                    <option value="2">Externo</option>*@
                    </select>
                    <label class="label">Tipo de Registro</label>
                </div>
                <div class="input-field input-field-common col col s12 m4 ">
                    <select name="CodTipoDocumentoSIEDEdit" id="codTipoDocumentoEdit" class="select-require" required disabled>
                        <option value="">Seleccione</option>
                        <optgroup label="PARA EMPRESAS EXTERNAS (PIDE)">
                            @foreach (var item in ViewBag.ListaTipoDocumentoExterno)
                            {
                                <option value="@item.Valor" disabled class="cbooptext">@item.Campo</option>
                            }
                        </optgroup>
                        <optgroup label="PARA EMPRESAS INTERNAS">
                            @foreach (var item in ViewBag.ListaTipoDocumentoInterno)
                            {
                                <option value="@item.Valor" disabled class="cbooptint">@item.Campo</option>
                            }
                        </optgroup>
                    </select>
                    <label class="label" for="tipoDocumento">Tipo de Documento</label>
                </div>
                @*<div class="input-field input-field-common col col s12 m4 disabled">

                <label class="label active lblactive" for="NumDocumentoEdit">Número de documento </label>
                <input name="NumDocumentoEdit" id="NumDocumentoEdit" required autocomplete="off" aria-required="true" type="text" class="">
            </div>*@
                <div class="input-field input-field-common col s12 m4 disabled">
                    <label class="label active" for="anio">Año</label>
                    <input name="anioEdit" id="anioEdit" type="text" class="input-common" value="@anioActual">
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col s12 m6 l6 xl3">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fechaDocumentoEdit" id="fechaDocumentoEdit" type="text" class="datepicker" required>
                    <label for="fechaDocumentoEdit" class="label lbl-fecha-default active">Fecha Documento</label>
                </div>
                <div class="input-field input-field-common col s12 m6 l6 xl3">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaRecepcionSIEDEdit" id="FechaRecepcionSIEDEdit" type="text" class="datepicker">
                    <label for="FechaRecepcionSIEDEdit" class="label lbl-fecha-default">Fecha Recepción</label>
                </div>
                <div class="input-field input-field-common col s12 m6 l6 xl3">
                    <label class="label active" for="plazoEdit">Plazo</label>
                    <input name="plazoEdit" id="plazoEdit" type="number" class="input-plazoEdit" min="0" value="@ViewBag.DiasPlazoNuevoDoc" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           onkeypress="javascript: if (this.value > 365) this.value = 365;" onblur="this.onkeypress()"
                           max="365" maxlength="3" required>
                </div>
                <div class="input-field input-field-common col s12 m6 l6 xl3 disabled">
                    <i class="material-icons icon-suffix icon-disabled">date_range</i>
                    <input name="fechaPlazoEdit" id="fechaPlazoEdit" type="text" class="input-fecha-plazoEdit" value="dd/mm/yyyy">
                    <label for="fechaPlazoEdit" class="label">F. Plazo</label>
                </div>
            </div>
            <div class="row">

                <div class="input-field input-field-common col s12 m3">
                    <select class="select-require" name="prioridadEdit" id="prioridadEdit" required>
                        <option value="">Seleccione</option>
                        @foreach (var item in ViewBag.ListaPrioridad)
                        {
                            <option value="@item.CodParametro">@item.Campo</option>
                        }
                        @*<option value="1">Media</option>
                    <option value="2">Alta</option>
                    <option value="3">Baja</option>*@
                    </select>
                    <label for="prioridad" class="label">Prioridad</label>
                </div>

                <div class="file-field-content input-field input-field-common col s12 m6">
                    <i class="material-icons icon-suffix">attach_file</i>
                    <label class="label active" for="adjuntarArchivo">Adjuntar Documento</label>
                    <i class="material-icons file-field-icon on" id="btnLimpiarAdjuntoEdit">close</i>
                    <div class="file-field input-field">
                        <input type="file" id="adjuntarArchivoEdit" accept="application/pdf" name="adjuntarArchivo">
                        <div class="file-path-wrapper">
                            <input class="file-path validate adjuntarArchivoAuxEdit" type="text" id="adjuntarArchivoAuxEdit">
                        </div>
                    </div>
                    <input type="hidden" id="hdDocumentoAdjunto" name="CodDocAdjunto" />
                </div>
                <div class="input-field input-field-common col s12 m3 h-40">
                    <label class="label"><b>Estado: <span class="new badge badge-grey" id="estadoDocumentoEdit" data-badge-caption="INGRESADO"></span></b></label>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col s12 m12">
                    <label class="label active" for="adjuntarArchivoAnexo">Anexos Ingresados</label>
                    <div id="AnexosIngresados" class="AnexosIngresados">
                    </div>
                    <input type="hidden" id="hdAnexosElimiados" name="CodAnexos" />
                </div>
            </div>
            <div class="row">
                <div class="file-field-content input-field input-field-common col s12 m12">
                    <i class="material-icons icon-suffix">attach_file</i>
                    <label class="label active" for="adjuntarArchivoAnexoEdit">Adjuntar Anexos</label>
                    <i class="material-icons file-field-icon on" id="btnLimpiarAnexoEdit">close</i>
                    <div class="file-field input-field">
                        <input type="file" id="adjuntarAnexoEdit" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                       .pdf,.csv,text/plain,.doc,.docx,.msg" name="adjuntarArchivoAnexoEdit" multiple>
                        <div class="file-path-wrapper">
                            <input class="file-path validate adjuntarAnexoAuxEdit" type="text" id="adjuntarAnexoAuxEdit">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="input-field input-field-common col s12">
                        @*<i class="material-icons icon-suffix">search</i>*@
                        <label class="label active lblactive" for="asuntoEdit">Asunto</label>
                        <input name="asuntoEdit" id="asuntoEdit" autocomplete="off" type="text" class="autocomplete" required>
                        <input type="hidden" id="hdCodAsuntoSIEDEdit" name="CodAsuntoSIEDEdit" />
                    </div>
                    <div class="input-field input-field-common col s12">
                        <label class="label active lblactive" for="referenciaEdit">Referencia</label>
                        <textarea id="referenciaEdit" name="referenciaEdit" type="text" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col s12 m12">
                        <label class="label active lblactive" for="observacionesEdit">Observaciones</label>
                        <textarea id="observacionesEdit" name="observacionesEdit" type="text" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 btn-container">
                        <button class="btn waves-effect waves-light btn-default" id="btnEdit" type="submit">
                            <span>Actualizar</span>
                            <i class="material-icons prefix">check</i>
                        </button>
                        <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelarEdit">
                            <span>Cancelar</span>
                        </button>

                    </div>
                </div>
            </div>
        }

    </div>
</div>

@*@section Scripts{

        <script>
            function txtPlazoChange(plazo) {
                alert(plazo * 2);
            }
        </script>

    }*@