﻿<div id="ModalCargarCargoDocumentoSIED" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Adjuntar Hoja de Cargo</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">
        <div class="section-border-bottom">
            @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmHojaDeCargoEnvioSIED" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="file-field-content input-field input-field-common col s12 m12">
                        <i class="material-icons icon-suffix">attach_file</i>
                        <label class="label active" for="adjuntarArchivoAnexo_RA">Adjuntar Archivo</label>
                        <i class="material-icons file-field-icon on clearicon">close</i>
                        <div class="file-field input-field">
                            <input type="file" id="adjuntarHojaDeCargo" accept="application/pdf" name="adjuntarHojaDeCargo" required>
                            <div class="file-path-wrapper">
                                <input class="file-path validate adjuntarAnexoAuxEdit" type="text" id="adjuntarHojaDeCargoAux">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdCodDocumentoHojaCargoEnvioSIED" name="CodDocumento" />
                <input type="hidden" id="hdCorrelativoHojaCargoEnvioSIED" name="DocumentoCorrelativo" />

            }
            <div class="row">
                <div class="col s12 btn-container">
                    <button id="btnCargarCargo" class="btn waves-effect waves-light btn-default">
                        <span>Guardar</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelarCargo">
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>
