﻿<div id="modalformatodocumento" class="modal modal-s">
    <div class="modal-header">
    </div>
    <div class="modal-content center-align modal-alert-content">
        <div class="row">
            <div class="input-field input-field-common col col s12 m12 ">
                <select name="cboFormatoDocumento" id="cboFormatoDocumento" class="select-require" required></select>
                <label class="label" for="cboFormatoDocumento">Formato Documento</label>
                <input type="hidden" id="empresSIEDFONAFE" />
            </div>
        </div>
    </div>
    <div class="modal-footer modal-alert-footer">
        <button class="btncontinuar btn waves-effect waves-light btn-default" id="btnFormatoDocumento">
            <span>Continuar</span>
        </button>
    </div>
</div>
