﻿@using Agrobanco.SIGD.Presentacion.Models
@{
    Layout = null;
}

<div id="ptv-EditarTIpoDocumento" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Editar Área</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">


        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmEditarArea" }))

        {
            @Html.AntiForgeryToken()
            <div class="section-border-bottom">
                <div class="row">
                    <div class="input-field input-field-common col s12 m3 disabled">
                        <label class="label active" for="correlativo">Código : </label>
                        <input name="CodArea" id="CodArea" type="text" class="input-common">
                    </div>
                </div>
            </div>
            <div>
                <div class="row">

                    <div class="input-field input-field-common col s12">
                        <label class="label active active" for="abreviatura">Abreviatura</label>
                        <input id="abreviaturaEdit" name="abreviatura" type="text" required maxlength="20" />
                    </div>
                    <div class="input-field input-field-common col s12">
                        <label class="label active active" for="descripcion">Descripción</label>
                        <input id="descripcionEdit" name="descripcion" type="text" required maxlength="100" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-field-common col col s12 m4 ">
                        <label class="label" for="Estado">Estado</label>
                        <select name="cbEstadoEdit" id="cbEstadoEdit" class="select-require" required>
                            <option value="">Seleccione</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12 btn-container">
                        <button class="btn waves-effect waves-light btn-default" id="btnEditar" type="submit">
                            <span>Guardar</span>
                            <i class="material-icons prefix">check</i>
                        </button>
                        <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelarEdicion">
                            <span>Cancelar</span>
                        </button>

                    </div>
                </div>
            </div>
        }

    </div>
</div>

