﻿@using Agrobanco.SIGD.Presentacion.Models
@{
    Layout = null;
}

<div id="ptv-NuevoTIpoDocumento" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Nueva Área</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">


        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmNuevaArea" }))

        {
            @Html.AntiForgeryToken()
        <div>
            <div class="row">
                <div class="input-field input-field-common col s12 m3 disabled">
                    <label class="label active" for="correlativo">Código : </label>
                    <input ntype="text" class="input-common" value="0">
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="abreviatura">Abreviatura</label>
                    <input id="abreviatura" name="abreviatura" type="text" required maxlength="20" />
                </div>
                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="descripcion">Descripción</label>
                    <input id="descripcion" name="descripcion" type="text" required maxlength="100" />
                </div>
            </div>
            <div class="row">
                <div class="input-field input-field-common col s12 m6 l6 xl3">
                    <label for="Fecha" class="label active">Fecha :</label>
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaCreacion" id="txtFecha" type="text" value="@DateTime.Now.ToShortDateString()" class="datepicker" disabled>
                </div>
            </div>
            <div class="row">
                @*<div class="input-field input-field-common col s12">*@
                <div class="input-field input-field-common col col s12 m4 ">
                    <label class="label active" for="Estado">Estado</label>

                    <select name="cbEstadoNuevo" id="cbEstadoNuevo" class="select-require" required>
                        <option value="">Seleccione</option>
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="col s12 btn-container">
                    <button class="btn waves-effect waves-light btn-default" id="btnGuardar" type="submit">
                        <span>Guardar</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar">
                        <span>Cancelar</span>
                    </button>

                </div>
            </div>
        </div>
        }

    </div>
</div>

