﻿@model IEnumerable<Agrobanco.SIGD.Presentacion.Models.Area>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGROBANCO SIGD - PDF Lista de Áreas</title>
    <style>

        table, td, th {
            border: 1px solid #065a45;
            text-align: center;
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #00694f;
            font-size: 12px;
        }

        th, td {
            padding: 5px;
        }

        td {
            font-size: 10px;
        }

        b, p {
            margin: 1px;
        }

        p {
            font-weight: 1;
            font-size: 10px;
        }

        .title {
            font-style: italic
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="2" width="150px">
                        <div><img src="{logo}" style=" width: 150px;height: auto;" /></div>
                    </th>
                    <th colspan="1">Lista de Areas</th>
                    <th colspan="1">
                        <b>Sistema de Tramite Documentario</b>
                        <p>Año: @DateTime.Now.Year.ToString()</p>
                        <p>Fecha: @DateTime.Now.ToShortDateString()</p>
                    </th>
                </tr>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Abreviatura</th>
                    <th>Estado</th>
                    <th>Registrado Por</th>
                    <th>Fecha Registro</th>
                    <th>Actualizado Por</th>
                    <th>Fecha Actualizacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CodArea
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.Abreviatura
                        </td>
                        <td>@(item.Estado == 1 ? "Activo" : "Inactivo")</td>
                        <td>@(item.UsuarioCreacion)</td>
                        <td>@item.FechaCreacion)</td>
                        <td>@(item.UsuarioActualizacion)</td>
                        <td>@item.FechaActualizacion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

