﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<ReportesAtencionDocumentos>

<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarPDFAtencionDocumentos"))?nrotramite=@(ViewBag.HD_NroTramite)&fecInicio=@(ViewBag.HD_FecInicio)&fecFinal=@(ViewBag.HD_FecFin)&HD_codAreaResponsable=@(ViewBag.HD_codAreaResponsable)&HD_codAreaDerivada=@(ViewBag.HD_codAreaDerivada)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_EstadoDoc=@(ViewBag.HD_codEstadoDoc)&cboFirmado=@(ViewBag.HD_Firmado)">

        <i class="material-icons prefix">picture_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>


@*<div class="col s6 m3 l2">
        <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.searchString)">
            <i class="material-icons prefix">description</i>
            <span>Exportar EXCEL</span>
        </a>
    </div>*@


<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarExcelAtencionDocumentos"))?nrotramite=@(ViewBag.HD_NroTramite)&fecInicio=@(ViewBag.HD_FecInicio)&fecFinal=@(ViewBag.HD_FecFin)&HD_codAreaResponsable=@(ViewBag.HD_codAreaResponsable)&HD_codAreaDerivada=@(ViewBag.HD_codAreaDerivada)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_EstadoDoc=@(ViewBag.HD_codEstadoDoc)&cboFirmado=@(ViewBag.HD_Firmado)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>

<div class="col s6 m6 l8 right-align text-right">

    <ul class="pagination no-margin" id="btnPaginacion">
        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("AtencionDocumentos", new { page = page,
                                    nrotramite = ViewBag.HD_NroTramite,
                                    fecInicio = ViewBag.HD_FecInicio,
                                    fecFinal = ViewBag.HD_FecFin,
                                    HD_codAreaResponsable = ViewBag.HD_codAreaResponsable,
                                    HD_codAreaDerivada = ViewBag.HD_codAreaDerivada,
                                    HD_codTipDoc = ViewBag.HD_codTipDoc,
                                    HD_EstadoDoc = ViewBag.HD_codEstadoDoc,
                                    cboFirmado = ViewBag.HD_Firmado,
                                }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>


<div class="col s12 table-listas">

    <input type="hidden" id="HD_nrotramite" name="HD_nrotramite" />
    <input type="hidden" id="HD_anio" name="HD_anio" />
    <input type="hidden" id="HD_codArea" name="HD_codArea" />
    <input type="hidden" id="HD_codTipDoc" name="HD_codTipDoc" />

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m2">Nro. Trámite</div>
            <div class="col s12 m2">Remitente</div>
            <div class="col s12 m2">Destinatario</div>
            <div class="col s12 m1">Asunto</div>
            <div class="col s12 m2">Comentario</div>
            <div class="col s12 m1">Firmado</div>
            <div class="col s12 m1">Fecha Firma</div>
            <div class="col s12 m1" style="text-align:center" >Estado</div>
        </div>

        @foreach (var item in Model.Lista)
        {
        <div class="row">
            <div class="col s12 m2">
                <label>@item.vCorrelativo</label>

            </div>

            <div class="col s12 m2">
                <label>@item.Remitente</label>
            </div>


            <div class="col s12 m2">
                <label>@item.Destinatario</label>
            </div>

            <div class="col s12 m1 text-wrap">
                <label>@item.Asunto</label>
            </div>

            <div class="col s12 m2">
                <label>@item.Comentarios</label>
            </div>

            <div class="col s12 m1">
                <label>@(String.IsNullOrWhiteSpace(item.siFirma)==true?"No":"Sí")</label>
            </div>
            <div class="col s12 m1">
                <label>@item.fechaFirma</label>
            </div>

            <div class="col s12 m1" >
                @switch (Convert.ToInt16(item.CodEstadoDoc))
                {
                    case 1:
                        <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                        break;
                    case 2:
                        <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                        break;
                    case 3:
                        <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                        break;
                    case 4:
                        <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                        break;
                    case 5:
                        <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                        break;
                    case 6:
                        <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                        break;
                    case 7:
                        <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                        break;
                    default:
                        break;
                }
            </div>


        </div>
        }
    </div>
</div>

