﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Entidades.EntidadesDb2
@model ReportesAtencionDocumentosViewModel



<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Reporte Atención de Documentos</h1>
            </div>
        </div>

    </div>
</div>

<div class="section p-t-20 no-pad-top">
    <div class="row">

        @using (Ajax.BeginForm("AtencionDocumentos", "Reportes",
      new AjaxOptions { HttpMethod = "POST",
          OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
        {

            <input type="hidden" id="HD_nrotramite" name="HD_nrotramite" />
            <input type="hidden" id="HD_codAreaResponsable" name="HD_codAreaResponsable" />
            <input type="hidden" id="HD_codAreaDerivada" name="HD_codAreaDerivada" />
            <input type="hidden" id="HD_codTipDoc" name="HD_codTipDoc" />
            <input type="hidden" id="HD_EstadoDoc" name="HD_EstadoDoc" />
            <div class="row">
                <div class="col s12  m3 l3">
                    <div>
                        <label for="materno">Numero Tramite</label>
                        <input id="nrotramite" name="nrotramite" type="text" style="height:2.5rem;" />
                    </div>
                </div>

                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="fecInicio" id="fecInicio" type="text" class="datepicker">
                        <label for="" class="label lbl-fecha-default active">Fecha Inicio</label>
                    </div>
                </div>

                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <i class="material-icons icon-suffix">date_range</i>
                        <input name="fecFinal" id="fecFinal" type="text" class="datepicker">
                        <label for="" class="label lbl-fecha-default active">Fecha Fin</label>
                    </div>
                </div>

                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <label class="label active">Área Responsable</label>
                        <select name="cboAreaResponsable" id="cboAreaResponsable" class="input-common" multiple>
                            <option value="" disabled selected>Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <label class="label active">Área Derivada</label>
                        <select name="cboAreaDerivada" id="cboAreaDerivada" class="input-common" multiple>
                            <option value="" disabled selected>Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <label class="label active">Tipo de Documento</label>
                        <select name="cboTipoDocumento" id="cboTipoDocumento" class="input-common" multiple>
                            <option value="" disabled selected>Seleccione</option>
                        </select>

                    </div>
                </div>
                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <label class="label active">Estado Documento</label>
                        <select name="cboEstadoDocumento" id="cboEstadoDocumento" class="input-common" multiple>
                            <option value="" disabled selected>Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="col s12 m2 l2">
                    <div class="input-field input-field-common">
                        <label class="label active">Firmado</label>
                        <select name="cboFirmado" id="cboFirmado" class="input-common">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="col s12 m2 l2">
                    <button class="btn waves-effect waves-light btn-default-resize" id="btnBuscar" name="btnBuscar">
                        <span>Buscar</span>
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>





<div class="row" id="documentos-grid">
    @{
        Html.RenderPartial("AtencionDocumentos/_SearchAtencionDocumentos", Model.ResultadoBusqueda);
    }
</div>




<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}

@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/Reportes/AtencionDocumentos.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")

