﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<Trabajador>

<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarPDF"))?searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">picture_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>
<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">description</i>
        <span>Exportar EXCEL</span>
    </a>
</div>
<div class="col s6 m6 l8 right-align text-right">
    <ul class="pagination no-margin">

        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("Index",
                                                    new { page = page, searchString = ViewBag.FiltrosActuales }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>


<div class="col s12 table-listas">

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">
            @*<div class="col s12 m1 center">Código</div>*@
            <div class="col s12 m1">Nombres</div>
            <div class="col s12 m1">Documento</div>
            @*<div class="col s12 m1">Nro Documento</div>*@
            <div class="col s12 m1">Área</div>

            <div class="col s12 m1">Jefe</div>
            <div class="col s12 m1">Firmante</div>
            <div class="col s12 m1">Estado</div>
            <div class="col s12 m1">Fecha Registro</div>
            <div class="col s12 m1">Registrado Por</div>
            <div class="col s12 m1">Fecha  Actualización</div>
            <div class="col s12 m1">Actualizado Por</div>
            <div class="col s12 m2">
                <div class="row row-icons">
                    <div class="col s4">Ver</div>
                    <div class="col s4">Editar</div>
                    <div class="col s4">Eliminar</div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Lista)
        {
        <div class="row">
            @*<div class="col s1 m1 no-padding center">
            @item.iCodTrabajador
        </div>*@
            <div class="col s3 m1 abreviatura text-wrap">@item.vNombreCompleto</div>
            <div class="col s3 m1 descripcion text-wrap">@item.vTipoDocumento - @item.vNumDocumento</div>
            @*<div class="col s3 m1 descripcion">@item.vNumDocumento</div>*@

            <div class="col s3 m1 descripcion">@item.vArea</div>
            @*<div class="col s3 m1 descripcion">@item.siEsJefe</div>*@

            <div class="col s1 m1">
                @switch (item.siEsJefe)
                {
                    case 1:
                        <span class="new badge badge-grey badge-label options" data-badge-caption="SI" style="font-weight: 300; text-align:left;background-color:white;color:#868a8e;"></span>

                        break;
                    case 0:
                        <span class="new badge badge-grey badge-label options" data-badge-caption="NO" style="font-weight: 300; text-align:left;background-color:white;color:#868a8e;"></span>
                        break;
                }
            </div>
            <div class="col s1 m1">
                @switch (item.siFirma)
                {
                    case 1:
                        <span class="new badge badge-grey badge-label options" data-badge-caption="SI" style="font-weight: 300; text-align:left;background-color:white;color:#868a8e;"></span>

                        break;
                    case 0:
                        <span class="new badge badge-grey badge-label options" data-badge-caption="NO" style="font-weight: 300; text-align:left;background-color:white;color:#868a8e;"></span>
                        break;
                }
            </div>

            @*<div class="col s3 m2 descripcion">@item.vEmail</div>*@
            <div class="col s1 m1">
                @switch (item.siEstado)
                {
                    case 1:
                        <span class="new badge options badge-green badge-label " data-badge-caption="ACTIVO"></span>
                        break;
                    case 0:
                        <span class="new badge badge-grey badge-label options" data-badge-caption="INACTIVO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                        break;
                }
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@item.dFecCreacion.ToString("dd/MM/yyyy hh:mm:ss")</label>
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@item.vUsuCreacion</label>
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@((item.dFecActualizacion == null) ? "" : item.dFecActualizacion.Value.ToString("dd/MM/yyyy hh:mm:ss"))</label>
            </div>
            <div class="col s2 m1  hide-on-small-only">
                <label>@(item.vUsuActualizacion == null ? "" : item.vUsuActualizacion)</label>
            </div>


            <div class="col s2 m2">
                <div class="row row-icons">
                    <div class="col s3 m4"><i id="idVerTabajador" data-target="ptv-VerTipoDocumento" data-id="@item.iCodTrabajador" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">visibility</i></div>
                    <div class="col s3 m4"><i id="idEditarTrabajador" data-target="ptv-EditarTIpoDocumento" data-id="@item.iCodTrabajador" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">create</i></div>
                    @if (item.siEstado == 1)
                    {
                        <div class="col s4 m4"><i id="idEliminarTrabajador" data-id="@item.iCodTrabajador" data-keyboard="false" data-backdrop="static" class="material-icons" style="cursor: pointer;" name="action">delete</i></div>

                        @*<div class="col s3 m4"><i id="idEliminarTrabajador" data-id="@item.iCodTrabajador" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">delete_forever</i></div>*@
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>


