﻿
<div id="ptv-VerTipoDocumento" class="modal" data-keyboard="false" data-backdrop="static">

    <div class="modal-header">
        <h4 class="title">Ver Trabajador</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content modal-content-tabs">
        <div class="row">
            <div class="col s12 tab-content">
                <div class="no-mar-top row card-panel card-common card-lightblue">
                    <div class="row">
                        <div class="col s4 right-align">
                            <b><label class="label css-titulo">Código:</label></b>
                        </div>
                        <div class="col s8 left-align">
                            <span id="codigover"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Nombre</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="nombrever"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Apellidos</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="apecompletos"></span>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">WEBUSR</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="webusrver"></span>
                        </div>
                    </div>
                                                           

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Tipo Documento</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="tipodocumento"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">N° Documento</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="nrodocumento"></span>
                        </div>
                    </div>





                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Área</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="areaver"></span>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Cargo</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="cargover"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Jefe</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="carjefever"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Usuario Firmante</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="carFirmaver"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Ubicación</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="ubicacionver"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Celular</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="celulaver"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Anexo</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="anexover"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Email</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="emailver"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Estado:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="estadover"></span>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Fecha Registro:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="fechaver"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Registrado por:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="usuariover"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Fecha Actualizacion:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="fechaactualizacionver"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 right-align">
                            <label class="label">Actualizado por:</label>
                        </div>
                        <div class="col s8 left-align">
                            <span id="usuarioactver"></span>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

