﻿@using Agrobanco.SIGD.Presentacion.Models
@{
    Layout = null;
}

<div id="ptv-NuevoTIpoDocumento" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Nuevo Trabajador</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">


        @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmNuevoTrabajador" }))

        {
            @Html.AntiForgeryToken()
        <div>

            <div class="section-border-bottom">
                <div class="row">
                    <div class="input-field input-field-common col s12 m3 disabled">
                        <label class="label active" for="ncodTabajador">Código : </label>
                        <input name="ncodTabajador" id="ncodTabajador" type="text" class="input-common" value="0">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="nombre">Nombre</label>
                    <input id="nnombre" name="nnombre" type="text" required maxlength="50" />
                </div>
                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="paterno">Apellido Paterno</label>
                    <input id="npaterno" name="npaterno" type="text" required maxlength="20" />
                </div>

                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="materno">Apellido Materno</label>
                    <input id="nmaterno" name="nmaterno" type="text" required maxlength="20" />
                </div>


                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="WEBUSR">WEBUSR</label>
                    <input id="nwebusr" name="nwebusr" type="text" required maxlength="20" />
                </div>



                @*<div class="input-field input-field-common col col s12 m4 ">
            <select name="cbTipoDocumento" id="cbTipoDocumento" class="select-require cbTipoDocumento" required>
                <option value="">Seleccione</option>
            </select>
            <label class="label" for="Estado">Tipo Documento</label>
        </div>*@


                <div class="input-field input-field-common col col s12 m4 ">
                    <label class="label active" for="Estado">Tipo Documento</label>
                    <select name="cbTipoDocumento" id="cbTipoDocumento" class="select-require cbTipoDocumento" required>
                        <option value="">Seleccione</option>
                    </select>
                </div>



                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="nnrodocumento">Nro Documento</label>
                    <input id="nnrodocumento" name="nnrodocumento" type="text" required maxlength="20" />
                </div>



            </div>

            <div class="row">


                <div class="input-field input-field-common col col s12 m4 ">
                    <select name="cbAreas" id="cbAreas" class="select-require  cbAreas" required>
                        <option value="">Seleccione</option>
                    </select>
                    <label class="label" for="Estado">Áreas</label>
                </div>


                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="cargo">Cargo</label>
                    <input id="ncargo" name="ncargo" type="text" required maxlength="50" />
                </div>




                <div class="input-field input-field-common col col s12 m4 ">
                    <label class="label active" for="cboJefe">Jefe</label>
                    <select name="cboJefe" id="cboJefe" class="select-require" required>
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="input-field input-field-common col col s12 m4 ">
                    <label class="label active" for="cboFirma">¿Es usuario firmante?</label>
                    <select name="cboFirma" id="cboFirma" class="select-require" required>
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="ubicacion">Ubicación</label>
                    <input id="nubicacion" name="nubicacion" type="text" required maxlength="20" />
                </div>


                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="ncelular">Celular</label>
                    <input id="ncelular" name="ncelular" type="text" required maxlength="20" />
                </div>

                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="anexo">Anexo</label>
                    <input id="nanexo" name="nanexo" type="text" required maxlength="20" />
                </div>


            </div>



            <div class="row">
                <div class="input-field input-field-common col s12">
                    <label class="label active lblactive" for="email">Email</label>
                    <input id="nemail" name="nemail" type="text" required maxlength="50" />
                </div>








            </div>


            <div class="row">
                <div class="input-field input-field-common col s12 m6 l6 xl3">
                    <label for="Fecha" class="label active">Fecha :</label>
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaCreacion" id="txtFecha" type="text" value="@DateTime.Now.ToShortDateString()" class="datepicker" disabled>
                </div>

                <div class="input-field input-field-common col col s12 m4 ">
                    <label class="label active" for="Estado">Estado</label>
                    <select name="cbEstadoNuevo" id="cbEstadoNuevo" class="select-require" required>
                        <option value="">Seleccione</option>
                    </select>
                </div>

            </div>


            <div class="row">
                <div class="col s12 btn-container">
                    <button class="btn waves-effect waves-light btn-default" id="btnGuardar" type="submit">
                        <span>Guardar</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar">
                        <span>Cancelar</span>
                    </button>

                </div>
            </div>
        </div>
        }

    </div>
</div>

