﻿@using System.Configuration
@{ 
    string urlbase = ConfigurationManager.AppSettings["urlbase"];
    string urlSSA = ConfigurationManager.AppSettings["UrlWebSSA"];
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGROBANCO|SIGD|@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/lib/materialize/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/lib/material-icon/material-icons.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/main.css">
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" charset="UTF-8" src="~/Content/lib/materialize/js/materialize.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/js/main.js"></script>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)


</head>
<body>
    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    @Html.Partial("SideBar")
    <input type="hidden" value="@urlbase" id="hdUrlBase" />
    <input type="hidden" value="@urlSSA" id="hdUrlSSA" />
    <div class="container-body">
        @Html.Partial("NavBar")
        <div class="container-detail layout-card-gray-1 no-pad-top">
            @RenderBody()
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div id="modal_loading_agro" class="loading-overlay on" style="display:none;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/app/HelpersJS.js")
</body>
</html>
