﻿<div id="ptv-alert-inf" class="modal modal-s">
    <div class="modal-header">
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content center-align modal-alert-content">
        <i class="material-icons medium icon-demo yellow-text">report</i>
        <p class="center-align p-descripcion-inf"></p>
    </div>
    <div class="modal-footer modal-alert-footer">
        <button class="modal-close btn waves-effect waves-light btn-default">
            <span>OK</span>
        </button>
    </div>
</div>
