﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2
@using Agrobanco.SIGD.Comun
@using System.Configuration

@using Agrobanco.SIGD.Entidades.EntidadesDb2

@{
    string urlbase = ConfigurationManager.AppSettings["urlbase"];
    var VarCerrar = urlbase + "/Login/CerrarSesion";
    
}

<nav class="nav-horizontal">
    <div class="nav-wrapper">
        <!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
        <a id="menu-open" href="#" class="menu-open"><i class="material-icons">menu</i> </a>
        <span class="Sistema-Integrado-de hide-on-small-only"> SISTEMA INTEGRADO DE GESTION DOCUMENTARIA</span>
        <a href="#" class="brand-logo hide-on-med-and-up">
            <img src="~/Content/img/logo-principal.png" alt="login" class="responsive-img">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li>
                <a>
                    @{
                        var usuario = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();
               if (usuario != null)
               {
                   if (usuario.MaeTrabajador != null)
                   {
                    <span>@usuario.MaeTrabajador.vNombres.ToUpper()  @usuario.MaeTrabajador.vApePaterno.ToUpper() @usuario.MaeTrabajador.vApeMaterno.ToUpper() </span>
                }
                else
                {
                    <span>Opciones </span>
                }
            }

                    }

                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
@*<ul id='dropdown1' class='dropdown-content'>
    
    <li><a href=@(VarCerrar)>Cerrar sesión</a></li>
</ul>*@