﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2
@using Agrobanco.SIGD.Presentacion.Filters;
@using Agrobanco.SIGD.Comun
@using System.Configuration
@{
    string urlbase = ConfigurationManager.AppSettings["urlbase"];
}
@{
    var ok = false;
    var usuario = Agrobanco.SIGD.Presentacion.Filters.HelperSeguridad.ObtenerSessionUsuario();
    HelperAgroSeguridad helper = new HelperAgroSeguridad();

    var sesionAgroSeguridad = helper.ObtenerSesionAgroSeguridad();


    string classActive = "";
    string colapsibleBody = string.Empty;
    if (usuario != null)
    {
        ok = true;

        <input type="hidden" id="hdnCodTrabajadorLogin" value="@usuario.MaeTrabajador.iCodTrabajador" />
        <input type="hidden" id="hdnCodAreaLogin" value="@usuario.MaeTrabajador.iCodArea" />
        <input type="hidden" id="hdnWebUsr" value="@usuario.MaeTrabajador.WEBUSR" />    }
}
<ul id="slide-out" class="sidenav collapsible">
    <li>
        <div class="user-view center-align">
            <div class="background">
                <img src="~/Content/img/logo-interna.png" alt="login" class="responsive-img logo-mini">
                <img src="~/Content/img/logo-home.png" alt="login" class="responsive-img logo">
                <i class="material-icons btn-close-sidebar"></i>
            </div>
        </div>
    </li>
    <li><div class="divider"></div></li>

    @{ 
        if (ok == true)
        {
            if (sesionAgroSeguridad.Model != null)
            {
                var listaMenu = sesionAgroSeguridad.Model.ListaOpcionesMenu;
                var modulos = listaMenu.Where(m => string.IsNullOrEmpty(m.IdRelacion) == true).ToList();

                foreach (var item in modulos)
                {
                    classActive = string.Empty;
                    colapsibleBody = "collapsible-body";

                    if ("/" + item.UrlOpcion == Request.Url.AbsolutePath)
                    {
                        classActive = "active";
                        ViewBag.BreadCrumbNivel1 = item.NombreOpcion;
                    }
                    else
                    {
                        colapsibleBody = string.Empty;
                    }

                    var listaOpciones = listaMenu.Where(m => m.IdRelacion == item.IdOpcion).ToList();

                    <li class="@classActive">
                        <div class="collapsible-header">
                            <i class="material-icons">@item.TipoIconoDescripcion</i>
                            <div>
                                @{                                    
                                    if (listaOpciones == null || listaOpciones.Count == 0)
                                    {
                                        <div class="@colapsibleBody @classActive">
                                            <span class="cssurl"><a href="@(urlbase)/@item.UrlOpcion">@item.NombreOpcion</a></span>
                                        </div>
                                    }
                                    else
                                    {
                                        @item.NombreOpcion
                                    }
                                }
                            </div>
                            @if (listaOpciones != null && listaOpciones.Count > 0)
	                        {
                                <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
	                        }
                        </div>

                        @foreach (var opcion in listaOpciones)
                        {
                            if (!string.IsNullOrEmpty(opcion.Controller) && !string.IsNullOrEmpty(opcion.Action))
                            {
                                classActive = string.Empty;

                                if (string.Concat("/", opcion.Controller, "/", opcion.Action) == Request.Url.AbsolutePath)
                                {
                                    classActive = "active";
                                    ViewBag.BreadCrumbNivel1 = item.NombreOpcion;
                                    if (ViewBag.BreadCrumbNivel2 == null)
                                    {
                                        ViewBag.BreadCrumbNivel2 = opcion.NombreOpcion;
                                    }
                                    else
                                    {
                                        ViewBag.BreadCrumbNivel3 = opcion.NombreOpcion;
                                    }

                                }

                                <div class="collapsible-body @classActive">
                                    <span class="cssurl"><a href="@(urlbase)/@(opcion.Controller)/@(opcion.Action)">@opcion.NombreOpcion</a></span>
                                </div>
                            }
                        }

                    </li>
                }
            }
        }


    }


    @{
        if (ok == true)
        {
            if (usuario.Perfil != null)
            {                
                var listaPermisos = usuario.Permisos.FindAll(x => x.Permitido == true).ToList();
                var listModulos = listaPermisos.GroupBy(p => new { p.Modulo.vCodModulo, p.Modulo.vNombre, p.Modulo.vEstiloIcono, p.Modulo.vURL });

                foreach (var item in listModulos)
                {
                    var modulo = item.Key;
                    var listOpciones = listaPermisos.Where(x => x.vCodModulo == modulo.vCodModulo).ToList();
                    var existsOpcion = listOpciones.Exists(x => !string.IsNullOrEmpty(x.Opcion.vURL));
                    string estiloIcono = "filter_drama";
                    //string colapsibleBody = "collapsible-body";
                    if (!String.IsNullOrEmpty(modulo.vEstiloIcono))
                    {
                        estiloIcono = modulo.vEstiloIcono;
                    }
                    classActive = "";
                    if (modulo.vURL != null)
                    {
                        if ("/" + modulo.vURL == Request.Url.AbsolutePath)
                        {
                            classActive = "active";
                        }
                    }
                    <li class="@(classActive)">
                        <div class="collapsible-header">
                            <i class="material-icons">@estiloIcono</i>
                            <div>
                                @{
                                    string controler = "";
                                    string accion = "";

                                    if (modulo.vURL != null)
                                    {
                                        if ("/" + modulo.vURL == Request.Url.AbsolutePath)
                                        {
                                            ViewBag.BreadCrumbNivel1 = modulo.vNombre;
                                        }
                                        else
                                        {
                                            colapsibleBody = "";
                                        }
                                        if (modulo.vURL.Split('/').Length <= 1)
                                        {
                                            controler = modulo.vURL.Split('/')[0];
                                            accion = "Index";
                                        }
                                        else
                                        {
                                            controler = modulo.vURL.Split('/')[0];
                                            accion = modulo.vURL.Split('/')[1];
                                        }
                                        if (accion == "Index")
                                        {
                                            accion = "";
                                        }
                                        @:<div class="@(colapsibleBody) @(classActive)">
                                            @:    <span class="cssurl"><a href="@(urlbase)/@(controler)/@(accion)">@(modulo.vNombre)</a></span>
                                            @:
                                        @:</div>
                                    }
                                    else
                                    {
                                        @modulo.vNombre
                                    }
                                }
                            </div>
                            @if (existsOpcion)
                            {
                                <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
                            }
                        </div>

                        @{

                            foreach (var item2 in listOpciones)
                            {
                                string controlerMod = "";
                                string accionMod = "";
                                if (!string.IsNullOrEmpty(item2.Opcion.vURL))
                                {
                                    ESegOpcion OpcEObj = item2.Opcion;
                                    classActive = "";

                                    if (OpcEObj.vURL != null)
                                    {
                                        if ("/" + OpcEObj.vURL == Request.Url.AbsolutePath)
                                        {
                                            classActive = "active";
                                            ViewBag.BreadCrumbNivel1 = modulo.vNombre;
                                            if (ViewBag.BreadCrumbNivel2 == null)
                                            {
                                                ViewBag.BreadCrumbNivel2 = OpcEObj.vNombre;
                                            }
                                            else
                                            {
                                                ViewBag.BreadCrumbNivel3 = OpcEObj.vNombre;
                                            }
                                        }
                                        if (OpcEObj.vURL.Split('/').Length <= 1)
                                        {
                                            controlerMod = OpcEObj.vURL.Split('/')[0];
                                            accionMod = "Index";
                                        }
                                        else
                                        {
                                            controlerMod = OpcEObj.vURL.Split('/')[0];
                                            accionMod = OpcEObj.vURL.Split('/')[1];
                                        }
                                        if (accion == "Index")
                                        {
                                            accion = "";
                                        }
                                        @:<div class="collapsible-body @(classActive)">
                                            @:    <span class="cssurl"><a href="@(urlbase)/@(controlerMod)/@(accionMod)">@(OpcEObj.vNombre)</a></span>
                                        @:</div>
                                    }
                                    else
                                    {
                                        @:<div class="collapsible-body">
                                            @:    <span><a href="#">@OpcEObj.vNombre</a></span>
                                        @:</div>
                                    }
                                }
                            }

                        }


                    </li>


                }
            }
        }
    }

</ul>

<input type="hidden" id="hdnbreadCrumbNivel1" value="@(ViewBag.BreadCrumbNivel1)" />
<input type="hidden" id="hdnbreadCrumbNivel2" value="@(ViewBag.BreadCrumbNivel2)" />
<input type="hidden" id="hdnbreadCrumbNivel3" value="@(ViewBag.BreadCrumbNivel3)" />