﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<ReportesMesaPartes>

<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarPDF"))?HD_codArea=@(ViewBag.HD_codArea)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_FecInicio=@(ViewBag.HD_FecInicio)&HD_FecFin=@(ViewBag.HD_FecFin)&HD_codEstadoDoc=@(ViewBag.HD_codEstadoDoc)">

        <i class="material-icons prefix">picture_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>


@*<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.searchString)">
        <i class="material-icons prefix">description</i>
        <span>Exportar EXCEL</span>
    </a>
</div>*@


<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarExcel"))?HD_codArea=@(ViewBag.HD_codArea)&HD_codTipDoc=@(ViewBag.HD_codTipDoc)&HD_FecInicio=@(ViewBag.HD_FecInicio)&HD_FecFin=@(ViewBag.HD_FecFin)&HD_codEstadoDoc=@(ViewBag.HD_codEstadoDoc)">        
            <i class="material-icons prefix">image_as_pdf</i>
            <span>Exportar EXCEL</span>
        </a>
</div>


<div class="col s6 m6 l8 right-align text-right">

    <ul class="pagination no-margin" id="btnPaginacion" >
        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action("RegMesaPartes", new { page = page, HD_codArea = ViewBag.HD_codArea, fecInicio  = ViewBag.HD_FecInicio, fecFinal = ViewBag.HD_FecFin, HD_codTipDoc = ViewBag.HD_codTipDoc, HD_codEstadoDoc = ViewBag.HD_codEstadoDoc }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>


<div class="col s12 table-listas">

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">
            <div class="col s12 m2">Nro. Documento</div>
            <div class="col s12 m2">Nro. Trámite</div>
            <div class="col s12 m2">Institución</div>
            <div class="col s12 m2">Fecha Derivación</div>
            <div class="col s12 m1">Sumilla / Asunto</div>
            <div class="col s12 m1">Responsable</div>
            <div class="col s12 m1">Estado</div>
            <div class="col s12 m1">Firma/Sello</div>

        </div>

        @foreach (var item in Model.Lista)
        {
            <div class="row">
                <div class="col s12 m2">
                    @item.vNumDocumento
                </div>
                <div class="col s12 m2">@item.vCorrelativo</div>
                <div class="col s12 m2">@item.Institucion</div>

                <div class="col s12 m2">
                    <label>@item.FechaDerivacion</label>
                </div>

                <div class="col s12 m1 text-wrap">
                    <label>@item.vAsunto</label>
                </div>


                <div class="col s12 m1">
                    <label>@item.Responsable</label>
                </div>

                <div class="col s12 m1">
                    <label>@item.EstadoDoc</label>
                </div>


                <div class="col s12 m1">
                    <label>@item.FirmaSello</label>
                </div>



            </div>
        }
    </div>
</div>

