﻿@using Agrobanco.SIGD.Presentacion.Models
@{
    Layout = null;
}

<div class="modal-header">
    <h4 class="title">Documento Mesa Partes</h4>
    <i class="material-icons btn-close modal-action modal-close">close</i>
</div>
<div class="modal-content modal-content-tabs">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6" id="tabDetalleLi"><a id="tabDetalleA" class="active" href="#tbDetalle">Detalle</a></li>
                <li class="tab col s6"><a href="#tbSeguimientoCab">Árbol de Seguimiento</a></li>
            </ul>
        </div>
        <div id="tbDetalle" class="col s12 tab-content">
            <div class="row no-mar-bottom">
                <div class="col s12 m12 l9">
                    <h5 class="title" id="mCorrelativo"></h5>
                </div>
                <div class="col s12 m12 l3">
                    <div class="row">
                        <div class="no-pad col s6 m6 l12" id="mPrioridad">
                            <span class="new badge icon-badge badge-pink badge-left" data-badge-caption="">
                                <i class="material-icons">priority_high</i>
                            </span>
                            <span class="c-pink"><label class="label">Prioridad alta</label></span>

                        </div>
                        <div class="no-pad col s6 m6 l12" id="mEstadoDocumento">
                            <span class="new badge badge-green" data-badge-caption="ATENDIDO"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-mar-top row card-panel card-common card-lightblue">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="col s4">
                            <b><label class="label css-titulo">N° de Documento:</label></b>
                        </div>
                        <div class="col s8 right-align">
                            <b id="mNumDocumento">1143</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 text-wrap">
                            <label class="label">Registrado por:</label>
                        </div>
                        <div class="col s8 right-align text-wrap" id="mRepresentante">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <label class="label">Origen</label>
                        </div>
                        <div class="col s8 right-align" id="mOrigen">
                        </div>
                    </div>
                </div>
                <div class="col m1 hide-on-small-only">

                </div>
                <div class="col s12 m5">
                    <div class="row">
                        <div class="col s5">
                            <b><label class="label">Año:</label></b>
                        </div>
                        <div class="col s7 right-align">
                            <b id="mAnio">2017</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <label class="label">Fecha Plazo:</label>
                        </div>
                        <div class="col s7 right-align" id="mFechaPlazo">
                            <label class="label">24/08/2018  (8 dias)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <label class="label">Fecha Recepción:</label>
                        </div>
                        <div class="col s7 right-align" id="mFechaRecepcion">
                            24/08/2018  14.20
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <label class="label">Fecha Documento:</label>
                        </div>
                        <div class="col s7 right-align" id="mFechaDocumento">
                            24/08/2018  14.20
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 text-wrap">
                    <b><label class="label css-titulo">Remitente:</label></b>
                </div>
                <div class="col s12 m10" id="mNombreTrab">
                    <label class="label">Zender Company</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 text-wrap">
                    <b><label class="label css-titulo">Destinatario:</label></b>
                </div>
                <div class="col s12 m10">
                    <div class="row no-mar-bottom" id="DestinatarioTO">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2"></div>
                <div class="col s12 m10" id="DestinatarioCC">
                </div>
            </div>
            <div class="row card-panel card-common card-lightblue2">
                <div class="no-pad col s12">
                    <span><b><label class="label css-titulo">Asunto:</label></b></span><span class="text-wrap">
                        <b id="mAsunto">Solicito instalación</b>
                    </span>
                </div>
                <div class="no-pad col s8">
                    <span class="text-wrap"><b><label class="label css-titulo">Referencia: </label></b></span><span id="mReferencia">Formulario de solicitud #453255</span>
                </div>
                @*<div class="col s4 right-align" id="mFechaDocumento">20 oct.2019 12.30</div>*@
            </div>
            <div class="row">
                <div class="col s12 m12 text-wrap">
                    <b><label class="label css-titulo">Observaciones:</label></b>
                </div>
                <div class="col s12 m12">
                    <p id="mObservaciones">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <b><label class="label css-titulo">Adjuntos:</label></b>
                    <div id="mArchivosLaserFiche">
                    </div>
                    @*<button class="btn waves-effect waves-light btn-war" onclick="location.href='@Url.Action(" ExportarPDF")';" name="action">
                        <i class="material-icons prefix">description</i>
                        <span>Documento_proyecto.doc</span> <br />
                        <small>567KB</small>
                    </button>
                    <a class="btn waves-effect waves-light btn-war" href='@Url.Action("ExportarPDF")' name="action">
                        <i class="material-icons prefix">description</i>
                        <span>Documento_proyecto.doc</span> <br />
                        <small>567KB</small>
                    </a>
                    <button class="btn waves-effect waves-light btn-war" type="submit" name="action">
                        <i class="material-icons prefix">description</i>
                        <span>Documento_proyecto.doc</span> <br />
                        <small>567KB</small>
                    </button>*@
                </div>
                <div class="col s12 m4">
                    <b><label class="label css-titulo">Anexos:</label></b>
                    <div id="mArchivosLaserFicheAnexos">
                    </div>
                </div>
                <div class="col s12 m4">
                    <b><label class="label css-titulo">Adjuntos:</label></b>
                    <div id="mArchivosLaserFicheAnexosAdjuntos">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12" id="mDescargarTodos">
                    @*<a class="a-link">
                        <i class="material-icons prefix">description</i>
                        <span>Descargar Todo</span>
                    </a>*@
                </div>
            </div>
            <div class="row">
                <div class="col s12 btn-container" id="mSeccionExportarPDF">

                    @*<button class="btn waves-effect waves-light btn-warning modal-action modal-close">
                        <span>Eliminar</span>
                        <i class="material-icons prefix">delete</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning" type="submit" name="action" onclick="location.href='@Url.Action(" ExportarPDF_CargoRecepcion","MesaPartes",new { codDocumento=1})'">
                        <span>Hoja de Cargo  </span>
                        <i class="material-icons prefix">description</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close">
                        <span>Hoja de Resumen</span>
                        <i class="material-icons prefix">navigation</i>
                    </button>*@

                </div>
            </div>
        </div>
        <div id="tbSeguimientoCab" class="col s12 tab-content">
            @Html.Partial("../Documento/_SeguimientoCabecera", new ResultadoBusquedaModel<DocumentoSeguimientoDTO>())

        </div>

    </div>
</div>