﻿@using Agrobanco.SIGD.Entidades.EntidadesDb2

<div id="modal-confirm-anular" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Anular Documento</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">

        @using (Html.BeginForm("#", "/", FormMethod.Post, new { id = "frmAnularDocumento" }))
        {
            @Html.AntiForgeryToken()
            <div class="section-border-bottom">
                <div class="row">
                    <div class="input-field input-field-common col s12 m12">
                        <label class="label active" for="observaciones">Comentario</label>
                        <textarea id="txtAnularComentario" required name="Comentario" type="text" maxlength="200" minlength="15" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 btn-container">
                        <button id="btnAnular" class="btn waves-effect waves-light btn-default">
                            <span>Guardar</span>
                            <i class="material-icons prefix">check</i>
                        </button>
                        <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar">
                            <span>Cancelar</span>
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hdCodDocumentoAnular" name="CodDocumento" />
        }

    </div>
</div>
