﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Models;
@using Agrobanco.SIGD.Presentacion.Utilities;
@model ResultadoBusquedaModel<DocumentoBandejaDTO>
@{
    string ultruta = Convert.ToString(Request.Url.Segments.Last()).ToLower();
    string method = "";
    switch (ultruta)
    {
        case "conplazo":
            method = "ConPlazo";
            break;
        case "recibidos":
            method = "Recibidos";
            break;
    }
}
<div class="col s6 m3 l2">

    <a class="a-link" href="@(Url.Action("ExportarPDF"))?searchString=@(ViewBag.FiltrosActuales)&FechaDesde=@(ViewBag.FechaRegistroDesde)&FechaHasta=@(ViewBag.FechaRegistroHasta)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar PDF</span>
    </a>
</div>
<div class="col s6 m3 l2">
    <a class="a-link" href="@(Url.Action("ExportarExcel"))?searchString=@(ViewBag.FiltrosActuales)&FechaDesde=@(ViewBag.FechaRegistroDesde)&FechaHasta=@(ViewBag.FechaRegistroHasta)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>

<div class="col s6 m6 l8 right-align text-right">
    <ul class="pagination no-margin">

        @Html.PagedListPager(Model.ListaPaginado,
                                page => Url.Action(method,
                                                    new { page = page, searchString = ViewBag.FiltrosActuales, FechaRegistroDesde = ViewBag.FechaRegistroDesde, FechaRegistroHasta =ViewBag.FechaRegistroHasta }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>

<div class="col s12 table-listas">

    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m1">Estado</div>
            <div class="col s12 m1">Recibido</div>
            <div class="col s12 m2">Nro. Trámite</div>
            <div class="col s12 m1">Documento</div>
            <div class="col s12 m3">Remitente</div>
            <div class="col s12 m1">Plazo</div>
            <div class="col s12 m3">
                <div class="row row-icons">
                    @*<div class="col s4">Adj</div>*@
                    <div class="col s2">Ver</div>
                    <div class="col s2">Editar</div>
                    <div class="col s2">Derivar</div>
                    <div class="col s3">R.Avance</div>
                    <div class="col s3">Anular</div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Lista)
        {
            <div class="row">

                <div class="col s12 m1 no-padding">
                    <div class="col s3 m3 l3 no-padding badge-small2">
                        @switch (item.Prioridad)
                        {
                            case 1: //baja
                                <span class="new badge icon-badge badge-blue" data-badge-caption="">
                                    <i class="material-icons">arrow_downward</i>
                                </span>
                                break;
                            case 2: //media
                                <span class="new badge icon-badge badge-green" data-badge-caption="">
                                    <i class="material-icons">remove</i>
                                </span>
                                break;
                            case 3: //alta
                                <span class="new badge icon-badge badge-yellow" data-badge-caption="">
                                    <i class="material-icons">arrow_upward</i>
                                </span>
                                break;
                            case 4: //urgente
                                <span class="new badge icon-badge badge-pink" data-badge-caption="">
                                    <i class="material-icons">priority_high</i>
                                </span>
                                break;

                        }
                    </div>
                    <div class="col s9 m9 l9 no-padding">
                        @switch (item.EstadoDocumento)
                        {
                            case 1:
                                <span class="new badge badge-grey badge-label" data-badge-caption="INGRESADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                break;
                            case 2:
                                <span class="new badge badge-pink badge-label" data-badge-caption="PENDIENTE"></span>
                                break;
                            case 3:
                                <span class="new badge badge-grey badge-label" data-badge-caption="ANULADO" style="font-weight: 300;background-color:#dfdfe3;color:#868a8e;"></span>
                                break;
                            case 4:
                                <span class="new badge badge-yellow badge-label" data-badge-caption="DERIVADO"></span>
                                break;
                            case 5:
                                <span class="new badge badge-blue badge-label" data-badge-caption="ATENDIDO"></span>
                                break;
                            case 6:
                                <span class="new badge badge-green badge-label" data-badge-caption="EN PROCESO"></span>
                                break;
                            case 7:
                                <span class="new badge badge-yellow badge-label" data-badge-caption="DEVUELTO"></span>
                                break;
                            default:
                                break;
                        }
                    </div>
                </div>
                <div class="col s12 m1">@Html.DisplayFor(modelItem => item.Recepcion) </div>
                <div class="col s12 m2  hide-on-small-only">
                    @{
                        var partes = item.Correlativo.Split(new String[] { "-AGROBANCO" }, StringSplitOptions.RemoveEmptyEntries);
                        if (partes.Length > 1)
                        {
                            @:<p>@(partes[0])</p>
                            @:<p>@("-AGROBANCO" + partes[1])</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Correlativo)
                        }
                    }
                </div>
                <div class="col s12 m1 text-wrap">
                    <p class="title">@Html.DisplayFor(modelItem => item.Documento)</p>
                    <p class="text-wrap"> @Html.DisplayFor(modelItem => item.DocumentoAsunto)</p>
                </div>
                <div class="col s12 m3 text-wrap">
                    <b>@Html.DisplayFor(modelItem => item.NombreEmpresa)</b><br />
                    @Html.DisplayFor(modelItem => item.Remitente)
                </div>
                <div class="col s12 m1">@Html.DisplayFor(modelItem => item.Plazo)</div>
                <div class="col s6 m3">
                    <div class="row row-icons">
                        @if (item.Origen == 3 || item.Origen == 4)
                        {
                            <div class="col s2"><i id="idVerDocumentoSIED" data-target="ptv-VerDocumentoBESIED" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action" data-coddocderivacion="@item.CodDocDerivacion" data-origen="@item.Origen" data-id="@item.CodDocumento" data-estadodocumento="@item.EstadoDocumento">visibility</i></div>
                        }
                        else
                        {
                            <div class="col s2"><i id="idVerDocumento" data-target="ptv-DocumentoMesaPartes" data-coddocderivacion="@item.CodDocDerivacion" data-id="@item.CodDocumento" data-tipodocing="@item.TipoDocIng" data-estadodocumento="@item.EstadoDocumento" data-habilitarseguimiento="@(item.HabilitarSeguimiento)" data-habilitardevolver="@(item.HabilitarDevolver)" data-habilitarfinalizar="@(item.HabilitarFinalizar)" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action" data-filtro="@item.FILTRO" data-origen="@item.Origen">visibility</i></div>
                        }

                        @if (item.EstadoDocumento == 1)
                        {
                            <div class="col s2"><i id="idDocumentoEdit" data-target="ptv-DocumentoMesaParteseEdit" data-id="@item.CodDocumento" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">create</i></div>
                        }
                        else
                        {
                            <div class="col s2">
                            </div>
                        }

                        @if (item.HabilitarDerivar && (item.CodDocFirma > 0))
                        {
                            <div class="col s2"><i id="idDerivarDocumento" data-target="ptv-DerivarDocumento" data-esjefe="false" data-id="@item.CodDocumento" data-correlativo="@item.Correlativo" data-coddocderivacion="@item.CodDocDerivacion" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">exit_to_app</i></div>
                        }
                        else if (ViewBag.EsJefe == true && (item.CodDocFirma <= 0 || item.CodDocFirma == null) && item.TipoDocIng != "DDSIED"  && item.EstadoDocumento != 3 && item.TipoDocIng != "DC")
                        {
                            <div class="col s2"><i id="idDerivarDocumento" data-target="ptv-DerivarDocumento" data-esjefe="true" data-id="@item.CodDocumento" data-correlativo="@item.Correlativo" data-coddocderivacion="@item.CodDocDerivacion" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">exit_to_app</i></div>
                        }
                        else
                        {
                            <div class="col s2">
                            </div>
                        }

                        @if (item.HabilitarRegistrarAvance && (item.CodDocFirma > 0))
                        {
                            <div class="col s3"><i id="idAtenderDocumento" data-target="ptv-Documento_RA" data-id="@item.CodDocumento" data-estadodocumento="@item.EstadoDocumento" data-coddocderivacion="@item.CodDocDerivacion" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">spellcheck</i></div>
                        }
                        else
                        {
                            <div class="col s3">
                            </div>
                        }

                        @if (item.EstadoDocumento != 3 && item.EstadoDocumento != 5 && item.CodDocDerivacion == 0 && item.TipoDocIng != "DC")
                        {
                            <div class="col s3"><i id="idDocumentoAnular" data-target="modal-confirm-anular" data-id="@item.CodDocumento" data-estadodocumento="@item.EstadoDocumento" data-coddocderivacion="@item.CodDocDerivacion" data-keyboard="false" data-backdrop="static" class="modal-trigger material-icons" style="cursor: pointer;" name="action">delete</i></div>
                        }
                        else
                        {
                            <div class="col s3">
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    