﻿

<div id="modal-confirm-finalizar" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h4 class="title">Finalizar Documento</h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content content-input">
        <div class="section-border-bottom">
            @using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmFinalizarDocumento" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="OrigenFinalizar" name="OrigenFinalizar" />
                <input type="hidden" id="codResponsableFinalizar" name="codResponsable" />
                <div class="row">
                    <div class="input-field input-field-common col s12 m12">
                        <label class="label active" for="observaciones">Comentario</label>
                        <textarea id="txtFinalizarComentario" required name="Comentario" type="text" maxlength="200" minlength="15" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field-content input-field input-field-common col s12 m12">
                        <i class="material-icons icon-suffix">attach_file</i>
                        <label class="label active" for="adjuntarArchivoAnexo_RA">Adjuntar Archivos</label>
                        <i class="material-icons file-field-icon on clearicon">close</i>
                        <div class="file-field input-field">
                            <input type="file" id="adjuntarAnexo_FI" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                       .pdf,.csv,text/plain,.doc,.docx,.msg" name="adjuntarArchivoAnexo_RA">
                            <div class="file-path-wrapper">
                                <input class="file-path validate adjuntarAnexoAuxEdit" type="text" id="adjuntarAnexoAuxEdit">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdCodDocumentoFinalizar" name="CodDocumento" />
            }
            <div class="row">
                <div class="col s12 btn-container">
                    <button id="btnFinalizar" class="btn waves-effect waves-light btn-default">
                        <span>Guardar</span>
                        <i class="material-icons prefix">check</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-warning modal-action modal-close" id="btnCancelar">
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
