﻿<div id="modalfirma" class="modal modal-s">
    <div class="modal-header">
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content center-align modal-alert-content">
        <div class="row">
            <div class="input-field input-field-common col col s12 m12 ">
                <select name="cbMotivoFirma" id="cbMotivoFirma" class="select-require" required>
                </select>
                <label class="label" for="cbMotivoFirma">Motivo Firma</label>
            </div>
        </div>
    </div>
    <div class="modal-footer modal-alert-footer">
        <button class="btncontinuar btn waves-effect waves-light btn-default" onclick="ContinuarFirma()">
            <span>Continuar</span>
        </button>
    </div>
</div>
