﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using System.Configuration;
@using Agrobanco.SIGD.Presentacion.Models;

@model BandejaEntradaViewModel

@{
    /**/

    ViewBag.Title = "Recibidos";
}

<script type="text/javascript" src="https://dsp.reniec.gob.pe/refirma_invoker/resources/js/clientclickonce.js"></script>
<script>
    var urlBase = $("#hdUrlBase").val();
    var codDocumento = "";
    var _codFirmante = "";
    var _codDocumento = "";
    var _codDocDerivacion = "";
    var _objArgumentNombreArchivoG = "";
    var __objArgumentIdLaserficheG = "";

    window.addEventListener('getArguments', function (e) {
        type = e.detail;
        if (type === "W") {
            // alert("Obtiene argumentos para firma desde la web");
            ObtieneArgumentosParaFirmaDesdeLaWeb();
        }
        else if (type === "L") {
            //alert("Obtiene argumentos para firma desde archivo local");
            //ObtieneArgumentosParaFirmaDesdeArchivoLocal();
        }
    });

    function getArguments() {
        arg = document.getElementById("argumentos").value;
        dispatchEventClient('sendArguments', arg);
    };

    function ObtieneArgumentosParaFirmaDesdeLaWeb() {
        getArguments();
    };

    window.addEventListener('invokerOk', function (e) {
        if (type === 'W') {
            MiFuncionOkWeb();
        } else if (type === 'L') {
            MiFuncionOkLocal();
        }
    });

    window.addEventListener('invokerCancel', function (e) {
        MiFuncionCancel();
    });

    function MiFuncionOkWeb() {
        var origen = $("#mOrigen").text();
        var codTrabajadorLogin = $("#hdnCodTrabajadorLogin").val();
        var codResponsable = $("#codResponsable").val();
        DocumentoAtendidoFirma(function () {
            //   $("#ptv-DocumentoMesaPartes").modal('close');

            $('#ptv-alert-ok').modal({
                onCloseEnd: function () {
                    //   window.location.href = window.location.origin + "/BandejaEntrada";
                    window.location.href = window.location.origin + window.location.pathname;
                }
            });
            if (origen == "INTERNO" && (codTrabajadorLogin == codResponsable)) {
                $('.p-descripcion').text("El documento ha sido firmado satisfactoriamente, y ha sido derivado a las áreas destino.");
            } else if (origen == "EXTERNO" && (codTrabajadorLogin == codResponsable)) {
                $('.p-descripcion').text("El documento ha sido firmado satisfactoriamente, ahora ya puede derivar o registrar algún avance.");
            } else {
                $('.p-descripcion').text("El documento ha sido firmado satisfactoriamente");
            }
            $('#ptv-alert-ok').modal('open');
        });
    }

    function MiFuncionCancel() {
        DocumentoAtendidoFirma(function () {
            $("#ptv-DocumentoMesaPartes").modal('close');
            $('.p-desc-error').text("El proceso de firma digital fue cancelado.");
            $('#ptv-alert-error').modal('open');
        });

    };

    function IniciarProcesoFirma(_objArgumentNombreArchivo, _objArgumentIdLaserfiche) {

        _codFirmante = $("#hdnCodTrabajadorLogin").val();
        _codDocumento = $("#codDocumentoVer").val();
        _codDocDerivacion = $("#codDocumentoDerivacionVer").val();


        if (validarDocumentoAnulado(_codDocumento) == false) {
            $('#ptv-alert-error').modal();
            $('.p-desc-error').text("El documento principal se encuentra anulado, no puede realizar el proceso de firma.");
            $('#ptv-alert-error').modal('open');
            return;
        }


        _objArgumentNombreArchivoG = _objArgumentNombreArchivo;
        _objArgumentIdLaserficheG = _objArgumentIdLaserfiche;
        validarMaximoFirmas(_codDocumento, function () {
            var firmo = validarFirmante(_codFirmante, _codDocumento);
            codDocumento = _codDocumento;
            if (firmo == 0) {
                ConsultarEstadofirma();
            } else {
                $('#ptv-alert-error').modal();
                $('.p-desc-error').text("Ya ha firmado este documento, no puede volver a firmarlo.");
                $('#ptv-alert-error').modal('open');
            }
        });
    }

    function IniciarProcesoFirmaSIED(_objArgumentNombreArchivo, _objArgumentIdLaserfiche) {
        _codFirmante = $("#hdnCodTrabajadorLogin").val();
        _codDocumento = $("#codDocumentoVerSIED").val();
        _codDocDerivacion = $("#codDocumentoDerivacionVerSIED").val();
        _objArgumentNombreArchivoG = _objArgumentNombreArchivo;
        _objArgumentIdLaserficheG = _objArgumentIdLaserfiche;


        if (validarDocumentoAnulado(_codDocumento) == false) {
            $('#ptv-alert-error').modal();
            $('.p-desc-error').text("El documento principal se encuentra anulado, no puede realizar el proceso de firma.");
            $('#ptv-alert-error').modal('open');
            return;
        }


        validarMaximoFirmas(_codDocumento, function () {
            var firmo = validarFirmante(_codFirmante, _codDocumento);
            codDocumento = _codDocumento;
            if (firmo == 0) {
                ConsultarEstadofirma();
            } else {
                $('#ptv-alert-error').modal();
                $('.p-desc-error').text("Ya ha firmado este documento, no puede volver a firmarlo.");
                $('#ptv-alert-error').modal('open');
            }
        });
    }

    function validarMaximoFirmas(codDocumento, fn) {
        $.ajax({
            url: urlBase + "/DocumentoExternal/GetCantidadFirmasAsync?CodDocumento=" + codDocumento,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.data >= 16) {
                    $('#ptv-alert-error').modal();
                    $('.p-desc-error').text("Este documento ha llegado al límite de firmas(16 firmas), ya no puede añadirse mas firmas.");
                    $('#ptv-alert-error').modal('open');
                } else {
                    fn();
                }
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            },
            complete: function () {
            }
        });
    }

    function DocumentoAtendidoFirma(fn) {
        $.ajax({
            url: urlBase + "/DocumentoExternal/DocumentoAtendidoFirma?CodDocumento=" + codDocumento,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.data == 1) {

                    fn();
                }
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            },
            complete: function () {
            }
        });
    }

    function ConsultarEstadofirma() {
        $.ajax({
            url: urlBase + "/DocumentoExternal/ObtenerEstadoFirmaDocumento?CodDocumento=" + codDocumento,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.data == 0) {
                    $("#modalfirma").modal();
                    $("#modalfirma").modal('open');
                } else {
                    $('#ptv-alert-error').modal();
                    $('.p-desc-error').text("Este documento esta siendo firmado por otro usuario.");
                    $('#ptv-alert-error').modal('open');
                }
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            },
            complete: function () {
            }
        });
    }

    function ContinuarFirma() {
        /*$("#modalfirma").modal('close');*/
        $('.p-desc-confirmacion').text('¿Está seguro de firmar el documento?');
        $('#ptv-alert-confirmacionFirma').modal('open');
    }

    $("#btnCancelConfirmFirma").click(function () {
        $('#ptv-alert-confirmacionFirma').modal('close');
    });

    function btnAgreeFirma() {
        $("#modalfirma").modal('close');
        $("#ptv-alert-confirmacionFirma").modal('close');
        var reason = $('#cbMotivoFirma :selected').text();
        $.ajax({
            url: urlBase + "/DocumentoExternal/DocumentoEnAtencionFirma?CodDocumento=" + _codDocumento,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.data == 1) {
                    $.ajax({
                        url: urlBase + "/DocumentoExternal/GetArgumentosFirma?NombreArchivo=" + _objArgumentNombreArchivoG +
                            "&CodArea=" + $("#hdnCodAreaLogin").val() + "&CodFirmante=" + _codFirmante + "&CodDocDerivacion=" + _codDocDerivacion + "&CodDocumento=" + _codDocumento + "&reason=" + reason,
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            console.log(result);
                            document.getElementById("argumentos").value = result;
                            initInvoker('W');
                        },
                        error: function (e, b, c) {
                            console.log(e.responseText);
                        },
                        complete: function () {
                        }
                    });
                }
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            },
            complete: function () {
            }
        })
    }

    $("#btnAgreeFirma").click(function () {
        var reason = $('#cbMotivoFirma :selected').text();
        $.ajax({
            url: urlBase + "/DocumentoExternal/DocumentoEnAtencionFirma?CodDocumento=" + _codDocumento,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.data == 1) {
                    $.ajax({
                        url: urlBase + "/DocumentoExternal/GetArgumentosFirma?NombreArchivo=" + _objArgumentNombreArchivoG +
                            "&CodArea=" + $("#hdnCodAreaLogin").val() + "&CodFirmante=" + _codFirmante + "&CodDocDerivacion=" + _codDocDerivacion + "&CodDocumento=" + _codDocumento + "&reason=" + reason,
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            console.log(result);
                            document.getElementById("argumentos").value = result;
                            initInvoker('W');
                        },
                        error: function (e, b, c) {
                            console.log(e.responseText);
                        },
                        complete: function () {
                        }
                    });
                }
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            },
            complete: function () {
            }
        })
    });

    function validarFirmante(codTrabajador, codDocumento) {
        var firmo = 0;
        $.ajax({
            url: urlBase + "/Documento/ValidarFirmante?codDocumento=" + codDocumento + "&codTrabajador=" + codTrabajador,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (result) {
                firmo = result.data;
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            },
            complete: function () {
            }
        });

        return firmo;
    }




    function validarDocumentoAnulado(codDocumento) {
        var valido = false;
        $.ajax({
            url: urlBase + "/Documento/GetEstadoDocumento?codDocumento=" + codDocumento,
            dataType: "json",
            async: false,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {
                if (result.Resultado == 1) {
                    if (result.data == 3) {
                        valido = false;
                    } else {
                        valido = true;
                    }
                }
            },
            error: function (e, b, c) {
                console.log(e.responseText);
            }
        });
        return valido;
    }


</script>

@section css{
    <style>
    </style>
}
<div id="addComponent"></div>
<input type="hidden" id="argumentos" value="" />
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">INICIO</a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel1"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel2"></span></a>
                    <a href="#!" class="breadcrumb"><span id="breadCrumbNivel3"></span></a>
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">BANDEJA DE ENTRADA</h1>
            </div>
        </div>

    </div>
</div>

<div class="section p-t-20 no-pad-top">
    <!--<div class="col s9 m9 l12">-->
    <div class="row">
        @using (Ajax.BeginForm("Recibidos", "BandejaEntrada",
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "onSuccess",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "documentos-grid",
            LoadingElementId = "modal_loading_agro"
        }))
        {
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common ">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaRegistroDesde" id="FechaRegistroDesde" type="text" class="datepicker">
                    <label for="FechaRegistroDesde" class="label lbl-fecha-default">Fecha Registro - Desde</label>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common ">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="FechaRegistroHasta" id="FechaRegistroHasta" type="text" class="datepicker">
                    <label for="FechaRegistroHasta" class="label lbl-fecha-default">Fecha Registro - Hasta</label>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="input-field input-field-search ">
                    <input id="searchString" name="searchString" type="search" class="validate" autocomplete="off" placeholder="Escribe una consulta o utiliza una palabra clave">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons clearicon">clear</i>
                </div>
            </div>
            <div class="col s2 m2 l2 text-right">
                <button class="btn waves-effect waves-light btn-default-resize">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        }

        <label for="icon_prefix"></label>

        <div class="col s2 m2 l2 text-right">
            <button data-target="modal-nuevo" data-keyboard="false" data-backdrop="static" class="btn modal-trigger waves-effect waves-light btn-default-resize" type="submit" name="action">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>

    </div>
</div>

<div class="row" id="documentos-grid">
    @{
        Html.RenderPartial("_ListaDocumentos", Model.ResultadoBusqueda);
    }
</div>

<div>
    @Html.Partial("NuevoDocumento")
</div>
<div>
    @Html.Partial("EditarDocumento")
</div>
<div id="ptv-DocumentoMesaPartes" class="modal" data-keyboard="false" data-backdrop="static">
</div>
<div id="ptv-VerDocumentoBESIED" class="modal" data-keyboard="false" data-backdrop="static">
</div>
<div>
    @Html.Partial("_DerivarDocumento")
</div>
<div>
    @Html.Partial("AnularConfirm")
</div>
<div>
    @Html.Partial("DevolverConfirm")
</div>
<div>
    @Html.Partial("FinalizarConfirm")
</div>
<div>
    @Html.Partial("_RegistrarAvance")
</div>
<div>
    @Html.Partial("ModalFirma")
</div>
<div>
    @Html.Partial("ModalConfirmacionFirma")
</div>
<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@Scripts.Render("~/Scripts/app/Servicios.js")
@Scripts.Render("~/Scripts/app/BandejaEntradaRecibidas.js")
@Scripts.Render("~/Scripts/app/ArbolSeguimiento.js")
@Scripts.Render("~/Scripts/app/RedirectSSA.js")